Source/springidm/idm-api.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xsi:schemaLocation="xsd/idmapi.xsd" xmlns="http://wadl.dev.java.net/2009/02" xmlns:idm="http://docs.rackspacecloud.com/idm/api/v1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <grammars>
    <include href="idmapi.xsd"/>
  </grammars>
  <resources base="http://172.17.16.85:8080">
    <resource id="version" path="v1.0">
      <method href="#getVersionInfo"/>
      <resource path="auth" id="auth">
        <method href="#getUsernameAuth"/>
        <resource path="nast" id="nastAuth">
              <method href="#getNastAuth"/>
        </resource>
        <resource path="mosso" id="mossoAuth">
              <method href="#getMossoAuth"/>
        </resource>
      </resource>
      <resource path="baseurls" id="baseurls">
        <method href="#getBaseUrls"/>
        <method href="#addBaseUrl"/>
        <resource path="{baseUrlId}" id="baseUrl">
          <method href="#getBaseUrl"/>
          <method href="#deleteBaseUrl"/>
        </resource>
      </resource>
      <resource path="users" id="users">
        <method href="#addFirstUser"/>
        <resource path="{username}" id="user">
              <param name="username" type="xsd:string" required="true" style="template"/>
              <method href="#getUserByUsername"/>
              <resource path="servicecatalog" id="servicecatalog">
                  <method href="#getServiceCatalog"/>
              </resource>
              <resource path="baseurlrefs" id="baseurlrefs">
                  <method href="#getBaseUrlRefs"/>
                  <method href="#addBaseUrlRef"/>
                  <resource path="{baseUrlId}" id="baseUrl">
                      <method href="#getBaseUrlRef"/>
                      <method href="#deleteBaseUrlRef"/>
                  </resource>
              </resource>
        </resource>
      </resource>
      <resource path="nast" id="nastUsers">
        <resource path="{nastId}" id="nastId">
            <param name="nastId" type="xsd:string" required="true" style="template"/>
            <method href="#getUserByNastId"/>
        </resource>
      </resource>
      <resource path="mosso" id="mossoUsers">
        <resource path="{mossoId}" id="mossoId">
            <param name="mossoId" type="xsd:string" required="true" style="template"/>
              <method href="#getUserByMossoId"/>
        </resource>
      </resource>
      <resource path="customers" id="customers">
        <method href="#addCustomer"/>
        <resource path="{customerId}" id="customer">
          <param name="customerId" type="xsd:string" required="true" style="template"/>
          <method href="#getCustomer"/>
          <method href="#deleteCustomer"/>
          <resource path="actions" id="customerActions">
            <resource path="lock" id="lock">
              <method href="#setCustomerLockStatus"/>
            </resource>
          </resource>
          <resource path="clients" id="clients">
            <method href="#getClients"/>
            <method href="#addClient"/>
            <resource path="{clientId}" id="client">
              <param name="clientId" type="xsd:string" required="true" style="template"/>
              <method href="#getClient"/>
              <method href="#deleteClient"/>
              <resource path="secret" id="clientSecret">
                <method href="#resetClientSecret"/>
              </resource>
              <resource path="permissions" id="clientPermissions">
                <method href="#getClientPermissions"/>
                <resource path="granted" id="grantedPermissions">
                  <method href="#getClientGrantedPermissions"/>
                </resource>
                <resource path="defined" id="definedPermissions">
                  <method href="#getClientDefinedPermissions"/>
                  <method href="#addClientPermission"/>
                  <resource path="{permissionId}" id="permission">
                    <method href="#getClientPermission"/>
                    <method href="#deleteClientPermission"/>
                    <method href="#updateClientPermission"/>
                  </resource>
                </resource>
              </resource>
              <resource path="softdelete" id="clientSoftDelete">
                <method href="#setClientSoftDelete"/>
              </resource>
            </resource>
          </resource>
          <resource path="users" id="customerUsers">
            <method href="#getUsers"/>
            <method href="#addUser"/>
            <resource path="{username}" id="customerUser">
              <param name="username" type="xsd:string" required="true" style="template"/>
              <method href="#getUser"/>
              <method href="#deleteUser"/>
              <method href="#updateUser"/>
              <resource path="key" id="userApiKey">
                <method href="#resetApiKey"/>
                <method href="#getUserApiKey"/>
              </resource>
              <resource path="lock" id="userLock">
                <method href="#setUserLock"/>
              </resource>
              <resource path="password" id="userPassword">
                <method href="#getUserPassword"/>
                <method href="#setUserPassword"/>
                <method href="#resetUserPassword"/>
                <resource path="recoveryemail" id="recoveryEmail">
                  <method href="#sendRecoveryEmail"/>
                </resource>
                <resource path="recoverytoken" id="recoveryToken">
                  <method href="#getRecoveryToken"/>
                </resource>
              </resource>
              <resource path="roles" id="userRoles">
                <method href="#getUserRoles"/>
                <resource path="{roleName}" id="userRole">
                  <param name="roleName" type="xsd:string" required="true" style="template"/>
                  <method href="#setUserRole"/>
                  <method href="#deleteUserRole"/>
                </resource>
              </resource>
              <resource path="secret" id="userSecret">
                <method href="#setUserSecret"/>
              </resource>
              <resource path="softdelete" id="userSoftDelete">
                <method href="#setUserSoftDelete"/>
              </resource>
              <resource path="status" id="userStatus">
                <method href="#setUserStatus"/>
              </resource>
            </resource>
          </resource>
        </resource>
      </resource>
      <resource path="passwordrules" id="passwordRules">
        <method href="#getPasswordRules"/>
        <resource path="validation/{password}" id="passwordValidation">
          <param name="password" type="xsd:string" required="true" style="template"/>
          <method href="#validatePassword"/>
        </resource>
      </resource>
      <resource path="token" id="token">
        <method href="#getToken"/>
        <resource path="{tokenId}" id="tokenId">
          <param name="tokenId" type="xsd:string" required="true" style="template"/>
          <method href="#validateToken"/>
          <method href="#revokeToken"/>
          <resource path="permissions" id="permissions">
            <method href="#getPermissions"/>
          </resource>
        </resource>
      </resource>
    </resource>
  </resources>
  <!--General Methods-->
  <method name="GET" id="getVersionInfo">
    <response status="200">
      <representation mediaType="application/xml" element="idm:version"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!--Nast Methods-->
  <method name="GET" id="getUserByNastId">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!-- auth methods -->
  <method name="POST" id="getUsernameAuth">
    <request>
      <representation mediaType="application/xml" element="idm:UsernameCredentials"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:CloudAuthData"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="getNastAuth">
    <request>
      <representation mediaType="application/xml" element="idm:NastCredentials"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:CloudAuthData"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="getMossoAuth">
    <request>
      <representation mediaType="application/xml" element="idm:MossoCredentials"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:CloudAuthData"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!--Mosso Methods-->
  <method name="GET" id="getUserByMossoId">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!--Customer Methods-->
  <method name="POST" id="addCustomer">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:customer"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="201">
      <representation mediaType="application/xml" element="idm:customer">
        <param name="Location" type="xsd:anyURI" style="header"/>
      </representation>
      <representation mediaType="application/json">
        <param name="Location" type="xsd:anyURI" style="header"/>
      </representation>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="409">
      <representation mediaType="application/xml" element="idm:customerIdConflict"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 409 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
    <method name="GET" id="getCustomer">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:customer"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
    <method name="DELETE" id="deleteCustomer">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="204"/>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!--Client Methods-->
  <method name="GET" id="getClients">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:clients"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="addClient">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:client"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="201">
      <representation mediaType="application/xml" element="idm:client">
        <param name="Location" type="xsd:anyURI" style="header"/>
      </representation>
      <representation mediaType="application/json">
        <param name="Location" type="xsd:anyURI" style="header"/>
      </representation>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="409">
      <representation mediaType="application/xml" element="idm:clientnameConflict"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 409 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getClient">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:client"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="DELETE" id="deleteClient">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="204"/>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="PUT" id="setClientSoftDelete">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:client"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:client"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getClientPermissions">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:permissions"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getClientGrantedPermissions">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:permissions"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getClientDefinedPermissions">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:permissions"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getClientPermission">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:permission"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="addClientPermission">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:resource"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:resource"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="409">
      <representation mediaType="application/xml" element="idm:resourceIdConflict"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="DELETE" id="deleteClientPermission">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="204"/>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="PUT" id="updateClientPermission">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:resource"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:resource"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="resetClientSecret">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:ClientCredentials"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!--Customer Methods-->
  <method name="PUT" id="setCustomerLockStatus">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:customer"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="204">
      <representation mediaType="application/xml" element="idm:customer"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!--User Methods-->
  <method name="POST" id="addFirstUser">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="201">
      <representation mediaType="application/xml" element="idm:user">
        <param name="Location" type="xsd:anyURI" style="header"/>
      </representation>
      <representation mediaType="application/json">
        <param name="Location" type="xsd:anyURI" style="header"/>
      </representation>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
      <representation mediaType="application/xml" element="idm:passwordValidation"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="409">
      <representation mediaType="application/xml" element="idm:usernameConflict"/>
      <representation mediaType="application/xml" element="idm:customerIdConflict"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 409 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getUserByUsername">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getUsers">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <param name="offset" style="query" required="false" type="xsd:integer"/>
      <param name="limit" style="query" required="false" type="xsd:integer"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:users"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="addUser">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="201">
      <representation mediaType="application/xml" element="idm:user">
        <param name="Location" type="xsd:anyURI" style="header"/>
      </representation>
      <representation mediaType="application/json">
        <param name="Location" type="xsd:anyURI" style="header"/>
      </representation>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
      <representation mediaType="application/xml" element="idm:passwordValidation"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="409">
      <representation mediaType="application/xml" element="idm:usernameConflict"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 409 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getUser">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="DELETE" id="deleteUser">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="204"/>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="PUT" id="setUserSoftDelete">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="PUT" id="updateUser">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 409 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="resetApiKey">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:userApiKey"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getUserApiKey">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:userApiKey"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getUserPassword">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:userPassword"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="PUT" id="setUserPassword">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <param name="recovery" type="xsd:boolean" required="false" style="query"/>
      <representation mediaType="application/xml" element="idm:userCredentials"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="204">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
      <representation mediaType="application/xml" element="idm:passwordValidation"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="resetUserPassword">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:userPassword"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="sendRecoveryEmail">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:passwordRecovery"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="204">
      <representation mediaType="application/xml"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="getRecoveryToken">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="204">
      <representation mediaType="application/xml" element="idm:auth"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getUserRoles">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:roles"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="PUT" id="setUserRole">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="204"/>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="DELETE" id="deleteUserRole">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="204"/>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getUserSecret">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:userSecret"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="PUT" id="setUserSecret">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:userSecret"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:userSecret"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="PUT" id="setUserStatus">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="PUT" id="setUserLock">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:user"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!--Password Rules methods-->
  <method name="GET" id="getPasswordRules">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:passwordRules"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="401 403 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!--Validation methods-->
  <method name="GET" id="validatePassword">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:passwordValidation"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!--Token methods-->
  <method name="POST" id="getToken">
    <request>
      <representation mediaType="application/xml" element="idm:authCredentials"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:auth"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="validateToken">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <param name="belongsTo" style="query" required="false" type="xsd:string"/>
      <param name="clientId" style="query" required="false" type="xsd:string"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:auth"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
      <representation mediaType="application/xml" element="idm:userDisabled"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="DELETE" id="revokeToken">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="204"/>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getPermissions">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:permissions"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <!-- servicecatalog, baseUrls, and endpoints -->
  <method name="GET" id="getServiceCatalog">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:ServiceCatalog"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getBaseUrlRefs">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:BaseURLRefList"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="PUT" id="addBaseUrlRef">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:BaseURLRef"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="201"/>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getBaseUrlRef">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:BaseURLRef"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="DELETE" id="deleteBaseUrlRef">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="204"/>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getBaseUrls">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:BaseURLList"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="POST" id="addBaseUrl">
    <request>
      <param name="Authorization" style="header" required="true"/>
      <representation mediaType="application/xml" element="idm:BaseURL"/>
      <representation mediaType="application/json"/>
    </request>
    <response status="201" />
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
      <representation mediaType="application/xml" element="idm:passwordValidation"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="409">
      <representation mediaType="application/xml" element="idm:usernameConflict"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 409 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="GET" id="getBaseUrl">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="200">
      <representation mediaType="application/xml" element="idm:BaseURL"/>
      <representation mediaType="application/json"/>
    </response>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
  <method name="DELETE" id="deleteBaseUrl">
    <request>
      <param name="Authorization" style="header" required="true"/>
    </request>
    <response status="204"/>
    <response status="400">
      <representation mediaType="application/xml" element="idm:badRequest"/>
    </response>
    <response status="401">
      <representation mediaType="application/xml" element="idm:unauthorized"/>
    </response>
    <response status="403">
      <representation mediaType="application/xml" element="idm:forbidden"/>
    </response>
    <response status="404">
      <representation mediaType="application/xml" element="idm:itemNotFound"/>
    </response>
    <response status="500">
      <representation mediaType="application/xml" element="idm:idmFault"/>
    </response>
    <response status="503">
      <representation mediaType="application/xml" element="idm:serviceUnavailable"/>
    </response>
    <response status="400 401 403 404 500 503">
      <representation mediaType="application/json"/>
    </response>
  </method>
</application>