Source/docs/src/xsd/fault.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2010 Rackspace Hosting, All Rights Reserved -->

<schema elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:idm="http://idm.api.rackspace.com/v1.0" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	xmlns:fault="http://fault.common.api.rackspace.com/v1.0"
	jaxb:extensionBindingPrefixes="xjc"
	targetNamespace="http://idm.api.rackspace.com/v1.0">

	<xsd:import schemaLocation="fault-v1.0.xsd" namespace="http://fault.common.api.rackspace.com/v1.0">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>Including the generic service common faults</p>
			</xsd:documentation>
		</annotation>
	</xsd:import>

	<!-- Elements -->
	<element name="userDisabled" type="idm:UserDisabledFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					The user has been disabled and is not permitted to
					authenticate.
				</p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../formattedsamples/user_disabled.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/user_disabled.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="missingUsername" type="idm:UserNotFoundFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					An authentication request requires a username.
             </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../formattedsamples/missing_username.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/missing_username.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="usernameConflict" type="idm:UsernameConflictFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					A user with that username already exists.
             </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../formattedsamples/username_conflict.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/username_conflict.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="applicationNameConflict" type="idm:ApplicationNameConflictFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					An application with that name already exists.
             </p>
			</xsd:documentation>
		</annotation>
	</element>

	<element name="permissionIdConflict" type="idm:PermisionIdConflictFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					A permisssion with that Id already exists.
             </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../formattedsamples/resourceId_conflict.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/resourceId_conflict.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="emailConflict" type="idm:EmailConflictFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					A user with that email address already exists.
             </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../formattedsamples/email_conflict.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/email_conflict.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="customerIdConflict" type="idm:CustomerIdConflictFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					A customer with that customerId already exists.
             </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../formattedsamples/customer_conflict.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/customer_conflict.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="baseUrlIdConflict" type="idm:BaseUrlIdConflictFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					A baseUrl with that id already exists.
             </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../formattedsamples/baseurl_conflict.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/baseurl_conflict.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="clientGroupConflict" type="idm:ClientGroupConflictFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					A client group with that name already exists.
             </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../formattedsamples/clientgroup_conflict.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/clientgroup_conflict.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>
	
	<element name="passwordValidationFault" type="idm:PasswordValidationFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					The password failed validation.
             </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml"
							href="../formattedsamples/passwordvalidationfault.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/passwordvalidationfault.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="passwordSelfUpdateTooSoonFault" type="idm:PasswordSelfUpdateTooSoonFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					User or admin attempted to update his/her own password more than
					once in the 24-hour period since the last self-update.
             </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml"
							href="../formattedsamples/passwordselfupdatetoosoonfault.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/passwordselfupdatetoosoonfault.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="stalePasswordFault" type="idm:StalePasswordFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					The password failed validation.
             </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../formattedsamples/statlepasswordfault.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/stalepasswordfault.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="notProvisioned" type="idm:NotProvisionedFault">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					The user has not been provisioned for this service.
                </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../formattedsamples/not_provisioned.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../formattedsamples/not_provisioned.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<!-- Complex Types -->
	<complexType name="IdmFault">
		<sequence>
			<element name="message" type="xsd:string">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>
							A human readable message that is appropriate for display
							to the
							end user.
                 </p>
					</xsd:documentation>
				</annotation>
			</element>
			<element name="details" type="xsd:string" minOccurs="0">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>
							The optional &lt;details&gt; element may contain useful
							information for tracking down errors (e.g a stack
							trace). This
							information may or may not be appropriate
							for display to an end
							user.
                 </p>
					</xsd:documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="code" type="xsd:int" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						The HTTP status code associated with the current fault.
               </p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="UserDisabledFault">
		<complexContent>
			<extension base="fault:Fault">
			</extension>
		</complexContent>
	</complexType>

	<complexType name="UserNotFoundFault">
		<complexContent>
			<extension base="fault:Fault">
			</extension>
		</complexContent>
	</complexType>

	<complexType name="UsernameConflictFault">
		<complexContent>
			<extension base="fault:Fault">
			</extension>
		</complexContent>
	</complexType>

	<complexType name="EmailConflictFault">
		<complexContent>
			<extension base="fault:Fault">
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CustomerIdConflictFault">
		<complexContent>
			<extension base="fault:Fault">
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PermisionIdConflictFault">
		<complexContent>
			<extension base="fault:Fault">
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BaseUrlIdConflictFault">
		<complexContent>
			<extension base="fault:Fault">
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ApplicationNameConflictFault">
		<complexContent>
			<extension base="fault:Fault">
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ClientGroupConflictFault">
		<complexContent>
			<extension base="fault:Fault">
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PasswordValidationFault">
		<complexContent>
			<extension base="fault:Fault"></extension>
		</complexContent>
	</complexType>

	<complexType name="PasswordSelfUpdateTooSoonFault">
		<complexContent>
			<extension base="fault:Fault"></extension>
		</complexContent>
	</complexType>

	<complexType name="StalePasswordFault">
		<complexContent>
			<extension base="fault:Fault"></extension>
		</complexContent>
	</complexType>

	<complexType name="NotProvisionedFault">
		<complexContent>
			<extension base="fault:Fault"></extension>
		</complexContent>
	</complexType>

</schema>