Source/docs/src/xsd/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="schema.xsl"?>

<!-- (C) 2010 Rackspace Hosting, All Rights Reserved -->

<schema elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:idm="http://idm.api.rackspace.com/v1.0" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:atom="http://www.w3.org/2005/Atom"
	targetNamespace="http://idm.api.rackspace.com/v1.0">

	<annotation>
		<xsd:appinfo xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
			<xsdxt:title>Users</xsdxt:title>
			<xsdxt:link rel="index" href="idmapi.xsd" />
		</xsd:appinfo>
		<xsd:documentation xml:lang="EN"
			xmlns="http://www.w3.org/1999/xhtml">
			<p>This schema file defines entities related to a user.</p>
		</xsd:documentation>
	</annotation>

	<import namespace="http://www.w3.org/2005/Atom" schemaLocation="atom/atom-v1.0.xsd" />
	
	<include schemaLocation="role.xsd"></include>
	
	<!-- Elements -->
	<element name="passwordCredentials" type="idm:UserPasswordCredentials">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A user's password credentials.</p>
			</xsd:documentation>
		</annotation>
	</element>

	<element name="userPassword" type="idm:UserPassword">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A rackspace user's password.</p>
			</xsd:documentation>
		</annotation>
	</element>

	<element name="user" type="idm:User">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A rackspace user.</p>
			</xsd:documentation>
		</annotation>
	</element>

	<element name="users" type="idm:UserList">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A list of rackspace users.</p>
			</xsd:documentation>
		</annotation>
	</element>

	<element name="secret" type="idm:UserSecret">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A rackspace user's secret question and answer.</p>
			</xsd:documentation>
		</annotation>
	</element>

	<element name="racker" type="idm:Racker">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A rackspace employee</p>
			</xsd:documentation>
		</annotation>
	</element>
	

	<!-- Complex Types -->
	<complexType name="UserPasswordCredentials">
		<sequence>
			<element name="newPassword" type="idm:UserPassword"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>The user's new password.</p>
					</xsd:documentation>
				</annotation>
			</element>
			<element name="currentPassword" type="idm:UserPassword"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>The user's current password.</p>
					</xsd:documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="verifyCurrentPassword" type="boolean" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>This flag indicates whether the old password must be verified, before any updates to this user's password can happen.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="UserSecret">
		<attribute name="secretQuestion" type="string" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>A user's secret question.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="secretAnswer" type="string" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The answer to the user's secret question.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="User">
		<sequence>
			<element name="secret" type="idm:UserSecret" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>
							The user's secret contains a question and
							answer that can be
							used to confirm the
							user's identity.
						</p>
					</xsd:documentation>
				</annotation>
			</element>
			<element name="passwordCredentials" type="idm:UserPasswordCredentials" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>A user's credential.</p>
					</xsd:documentation>
				</annotation>
			</element>
			<element ref="idm:roles"/>
		</sequence>
		<attribute name="id" type="xsd:string">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The unique id of the user.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="username" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The unique username of the user.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="customerId" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						The customerId of the customer that the user is
						associated with.
					</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="email" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's email address.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="personId" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>A unique rackspace personId for the user.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="firstName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's first name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="middleName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's middle name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="lastName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's last name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="displayName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's display name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="prefLanguage" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's preferred language.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="region" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The airport code of the user's region.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="enabled" type="boolean" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						A boolean which indicates if the user is enabled.
					</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="country" type="xsd:string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's country.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="timeZone" type="xsd:string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's time zone.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="created" type="xsd:dateTime">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The date the user was created</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="updated" type="xsd:dateTime">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The date a user was last updated</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="maxLoginFailuresExceded" type="xsd:boolean">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The boolean indicating if a user has been locked out due to the
						excessive login failures</p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="UserList">
		<sequence>
			<element name="user" type="idm:User" minOccurs="0" maxOccurs="1000"/>
			<element ref="atom:link" minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="totalRecords" type="xsd:int" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The total nubmer of records in a search</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="offset" type="xsd:int" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>A zero based offset for the subset of users returned in a search
					</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="limit" type="xsd:int" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The limit of users requested in a search.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="UserPassword">
		<attribute name="password" type="string" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>A user's password.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="Racker">
		<sequence>
			<element ref="idm:roles"/>
		</sequence>
		<attribute name="id" type="xsd:string">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The unique id of the user.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="username" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The racker's sso.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="firstName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The racker's first name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="lastName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The rackers's last name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="displayName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The rackers's display name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

</schema>