Source/docs/src/wadl/idm.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "../common/common.ent">
%common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:sp="http://service-registry.api.rackspace.com/service-profile"
    xmlns:idm="http://idm.api.rackspace.com/v1.0"
    xmlns:fault="http://fault.common.api.rackspace.com/v1.0"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0">
    
    <grammars>
        <include href="../xsd/idmapi.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    
    <resources base="http://localhost:9998">
        <resource id="serviceProfile" path="/">
            <method href="#getServiceProfile" /> 
            
            <resource id="version" path="v1">
                <method href="#getVersionInfo" /> 
                
                <resource id="tokens" path="tokens">
                    <method href="#authenticate" />
                    
                    <resource id="token" path="{tokenId}">
                        <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                            <doc>You need a valid token for access.</doc>
                        </param>
                        <param name="tokenId" style="template" type="xsd:string" required="true"/>
                        <method href="#validateToken" />
                        <method href="#revokeToken" />
                        
                        <resource id="tokenApplication" path="applications/{applicationId}">
                            <param name="applicationId" style="template" type="xsd:string" required="true"/>
                            <method href="#verifyTokenApplication" />
                            
                            <resource id="tokenApplicationRole" path="roles/{roleId}">
                                <param name="roleId" style="template" type="xsd:string" required="true"/>
                                <method href="#verifyTokenApplicationRole" />
                            </resource>
                        </resource>
                    </resource>
                </resource>  
                
                <!-- users resource -->
                <resource id="users" path="users">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>You need a valid token for access.</doc>
                    </param>
                    <method href="#getUsers" />
                    <method href="#addUser" />
                    
                    <resource id="user" path="{userId}">
                        <param name="userId" style="template" type="xsd:string" required="true"/>
                        <method href="#getUser" />
                        <method href="#updateUser" />
                        <method href="#deleteUser" />
                        
                        <resource id="userSecret" path="secret">
                            <method href="#getUserSecret" />
                            <method href="#setUserSecret" />
                        </resource>
                        
                        <resource id="userPasswordCredentials" path="passwordcredentials">
                            <method href="#getUserPasswordCredentials" />
                            <method href="#setUserPasswordCredentials" />
                            <method href="#resetUserPasswordCredentials" />
                            
                            <resource id="userPasswordRecoveryToken" path="recoverytoken">
                                <method href="#getPasswordRecoveryToken" />
                            </resource>
                        </resource>
                        
                        <resource id="userApplications" path="applications">
                            <method href="#getUserApplications" />
                            
                            <resource id="userApplication" path="{applicationId}">
                                <param name="applicationId" style="template" type="xsd:string" required="true"/>
                                <method href="#addUserApplication" />
                                <method href="#deleteUserApplication" />
                            </resource>
                        </resource>
                        
                        <resource id="userRoles" path="roles">
                            <method href="#getUserGlobalRoles" />
                            
                            <resource id="userRole" path="{roleId}">
                                <param name="roleId" style="template" type="xsd:string" required="true"/>
                                <method href="#addUserGlobalRole" />
                                <method href="#deleteUserGlobalRole" />
                                
                                <resource id="userTenantRole" path="tenants/{tenantId}">
                                    <param name="tenantId" style="template" type="xsd:string" required="true"/>
                                    <param name="roleId" style="template" type="xsd:string" required="true"/>
                                    <method href="#addUserTenantRole" />
                                    <method href="#deleteUserTenantRole" />
                                </resource>
                            </resource>
                        </resource>
                        
                        <resource id="userTenants" path="tenants">
                            <resource id="userTenantsRoles" path="roles">
                                <method href="#getUserTenantsRoles" />
                            </resource>
                        </resource>
                    </resource>
                </resource> 
                
                <!-- applications resource -->
                <resource id="applications" path="applications">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>You need a valid token for access.</doc>
                    </param>
                    <method href="#getApplications" />
                    <method href="#addApplication" />
                    
                    <resource id="application" path="{applicationId}">
                        <param name="applicationId" style="template" type="xsd:string" required="true"/>
                        <method href="#getApplication" />
                        <method href="#updateApplication" />
                        <method href="#deleteApplication" />
                        
                        <resource id="applicationSecretCredentials" path="secretcredentials">
                            <method href="#resetApplicationSecretCredentials" />
                        </resource>
                        
                        <resource id="applicationApplications" path="applications">
                            <method href="#getApplicationApplications" />
                            
                            <resource id="applicationApplication" path="{provisionedApplicationId}">
                                <param name="provisionedApplicationId" style="template" type="xsd:string" required="true"/>
                                <method href="#addApplicationApplication" />
                                <method href="#deleteApplicationApplication" />
                                
                                <resource id="applicationApplicationRole" path="roles/{roleId}">
                                    <param name="roleId" style="template" type="xsd:string" required="true"/>
                                    <method href="#addApplicationApplicationRole" />
                                    <method href="#deleteApplicationApplicationRole" />
                                </resource>
                            </resource>
                        </resource>
                        
                        <resource id="applicationRoles" path="roles">
                            <method href="#getApplicationGlobalRoles" />
                            
                            <resource id="applicationRole" path="{roleId}">
                                <param name="roleId" style="template" type="xsd:string" required="true"/>
                                <method href="#addApplicationGlobalRole" />
                                <method href="#deleteApplicationGlobalRole" />
                                
                                <resource id="applicationTenantRole" path="tenants/{tenantId}">
                                    <param name="tenantId" style="template" type="xsd:string" required="true"/>
                                    <param name="roleId" style="template" type="xsd:string" required="true"/>
                                    <method href="#addApplicationTenantRole" />
                                    <method href="#deleteApplicationTenantRole" />
                                </resource>
                            </resource>
                        </resource>
                        
                        <resource id="applicationTenants" path="tenants">
                            <resource id="applicationTenantsRoles" path="roles">
                                <method href="#getApplicationTenantsRoles" />
                            </resource>
                        </resource>
                    </resource>
                 </resource>
         
                <!-- roles resource -->
                <resource id="roles" path="roles">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>You need a valid token for access.</doc>
                    </param>
                    <method href="#getRoles" />
                    <method href="#addRole" />
                    
                    <resource id="role" path="{roleId}">
                        <param name="roleId" style="template" type="xsd:string" required="true"/>
                        <method href="#getRole" />
                        <method href="#updateRole" />
                        <method href="#deleteRole" />
                    </resource>
                </resource>
                
                <!-- identity profiles resource -->
                <resource id="identityProfiles" path="customeridentityprofiles">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>You need a valid token for access.</doc>
                    </param>
                   
                    <method href="#addIdentityProfile" />
 
                    <resource id="identityProfile" path="{customerId}">
                        <param name="customerId" style="template" type="xsd:string" required="true">
                            <doc>This is the customer's RCN.</doc>
                        </param>
                        <method href="#getIdentityProfile" />
                        <method href="#deleteIdentityProfile" />
                        <method href="#updateIdentityProfile" />
                        
                        <resource id="passwordRotationPolicy" path="passwordrotationpolicy">
                            <method href="#getPasswordRotationPolicy" />
                            <method href="#setPasswordRotationPolicy" />
                        </resource>
                        
                        <resource id="identityProfileUsers" path="users">
                            <method href="#getIdentityProfileUsers" />
                        </resource>
                        
                        <resource id="identityProfileApplications" path="applications">
                            <method href="#getIdentityProfileApplications" />
                        </resource>
                    </resource>
                    
                </resource>
                
                <!-- password resources -->
                <resource id="passwordRules" path="passwordrules">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>You need a valid token for access.</doc>
                    </param>
                    
                    <method href="#getPasswordRules" />
                    
                    <resource id="passwordValidation" path="validation">
                        <method href="#validatePassword" />
                    </resource>
                </resource>
                
                <!-- tenant resources -->
                <resource id="tenants" path="tenants">
                    <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                        <doc>You need a valid token for access.</doc>
                    </param>
                    
                    <method href="#createTenant" />
                    
                    <resource id="tenant" path="{tenantId}">
                        <method href="#getTenant" />
                        <method href="#updateTenant" />
                        <method href="#deleteTenant" />
                    </resource>
                </resource>
            </resource>
       </resource>
    </resources>
    
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->
    
    <method name="GET" id="getServiceProfile">
        <doc xml:lang="EN" title="Version Details">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Returns detailed information about this service
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml" element="sp:service-profile" />
        </response>
    </method>
    
    <method name="GET" id="getVersionInfo">
        <doc xml:lang="EN" title="Version Details">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Returns detailed information about this version of the api
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml" element="sp:contract" />
        </response>
    </method>
    <!-- Token methods -->
    <method name="POST" id="authenticate">
        <doc xml:lang="EN" title="Authenticate">
            <xhtml:p class="shortdesc">
                Authenticate a client and generate an access token.
            </xhtml:p>
            <xhtml:p>
                There are various ways to authenticate in the global auth system. You can authenticate as a Racker, an application on behalf of a 
                customer, or an application directly. Examples below show the different authentication mechanisms.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:authCredentials">
                <doc xml:lang="EN" title="Auth as Application Request: XML">
                    <xsdxt:code href="../formattedsamples/application_auth_credentials.xml" />
                </doc>
                <doc xml:lang="EN" title="Auth as Customer Request: XML">
                    <xsdxt:code href="../formattedsamples/auth_credentials.xml" />
                </doc>
                <doc xml:lang="EN" title="Auth as Racker Request: XML">
                    <xsdxt:code href="../formattedsamples/racker_auth_credentials.xml" />
                </doc>
                <doc xml:lang="EN" title="Auth as Racker with RSA Token Request: XML">
                    <xsdxt:code href="../formattedsamples/racker_rsa_credentials.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN" title="Auth as Application Request: JSON">
                    <xsdxt:code href="../formattedsamples/application_auth_credentials.json" />
                </doc>
                <doc xml:lang="EN" title="Auth as Customer Request: JSON">
                    <xsdxt:code href="../formattedsamples/auth_credentials.json" />
                </doc>
                <doc xml:lang="EN" title="Auth as Racker Request: JSON">
                    <xsdxt:code href="../formattedsamples/racker_auth_credentials.json" />
                </doc>
                <doc xml:lang="EN" title="Auth as Racker with RSA Token Request: JSON">
                    <xsdxt:code href="../formattedsamples/racker_rsa_credentials.json" />
                </doc>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="idm:auth">
                <doc xml:lang="EN" title="Auth as Application Response: XML">
                    <xsdxt:code href="../formattedsamples/application_auth.xml" />
                </doc>
                <doc xml:lang="EN" title="Auth as Customer Response: XML">
                    <xsdxt:code href="../formattedsamples/auth.xml" />
                </doc>
                <doc xml:lang="EN" title="Auth as Racker Response: XML">
                    <xsdxt:code href="../formattedsamples/racker_auth.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN" title="Auth as Application Response: JSON">
                    <xsdxt:code href="../formattedsamples/application_auth.json" />
                </doc>
                <doc xml:lang="EN" title="Auth as Customer Response: JSON">
                    <xsdxt:code href="../formattedsamples/auth.json" />
                </doc>
                <doc xml:lang="EN" title="Auth as Racker Response: JSON">
                    <xsdxt:code href="../formattedsamples/racker_auth.json" />
                </doc>
            </representation>
        </response>
        <response status="403 ">
            <representation mediaType="application/xml" element="idm:userDisabled"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="validateToken">
        <doc xml:lang="EN" title="Validate Token">
            <xhtml:p class="shortdesc">
                Check that a token is valid and return the token details.
            </xhtml:p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml" element="idm:auth">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/validatetoken.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/validatetoken.json" />
                </doc>
            </representation>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="idm:userDisabled"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="revokeToken">
        <doc xml:lang="EN" title="Revoke Token">
            <xhtml:p class="shortdesc">
                Revoke Token.
            </xhtml:p>
        </doc>
        <response status="204" />
        <response status="403">
            <representation mediaType="application/xml" element="idm:userDisabled"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="verifyTokenApplication">
        <doc xml:lang="EN" title="Check if Token has access to an Application">
            <xhtml:p class="shortdesc">
                Check if token has access to an application.
            </xhtml:p>
        </doc>
        <response status="204 404" />
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="verifyTokenApplicationRole">
        <doc xml:lang="EN" title="Check if Token has Role on an Application">
            <xhtml:p class="shortdesc">
                Check if token has role on an application.
            </xhtml:p>
        </doc>
        <response status="204 404" />
        &commonFaults;
        &getFaults;
    </method>
    
    <!-- User methods -->
    <method name="GET" id="getUsers">
        <doc xml:lang="EN" title="Get Users">
            <xhtml:p class="shortdesc">
                Gets a list of users.
            </xhtml:p>
        </doc>
        <request>
            <param name="username" style="query" type="xsd:string">
                <doc>Allows you search for a user by username</doc>
            </param> 
            <param name="offset" style="query" type="xsd:int">
                <doc>0 based index to start list</doc>
            </param> 
            <param name="limit" style="query" type="xsd:int">
                <doc>Number of records to be returned</doc>
            </param> 
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:users">
                <doc xml:lang="EN" >
                    <xsdxt:code href="../formattedsamples/users.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN" >
                    <xsdxt:code href="../formattedsamples/users.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="addUser">
        <doc xml:lang="EN" title="Add a User">
            <xhtml:p class="shortdesc">
                Adds a new user. 
            </xhtml:p>
            <xhtml:p>
                The Username attribute is required in this request.If a blank password is passed in the Password element, 
                the API will generate a random password for the user. The prefLanguage attribute defaults 
                to "US_en" and the timeZone attribute defaults to "America/Chicago".
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:user">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/adduser.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/adduser.xml" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <param name="Location" style="header" type="xsd:string" required="true">
                <doc>Location to the uri of the newly created resource</doc>
            </param>
            <representation mediaType="application/xml" element="idm:user">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addeduser.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addeduser.json" />
                </doc>
            </representation>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="idm:passwordValidationFault"/>
            <representation mediaType="application/json"/>
         </response>
        <response status="409">
            <representation mediaType="application/xml" element="idm:usernameConflict"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
    </method>
    
    <method name="GET" id="getUser">
        <doc xml:lang="EN" title="Get a User">
            <xhtml:p class="shortdesc">
                Get a user.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:user">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/getuser.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/getuser.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="updateUser">
        <doc xml:lang="EN" title="Update a User">
            <xhtml:p class="shortdesc">
                Update a user.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:user">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/updateuser.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/updateuser.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:user">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/updateduser.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/updateduser.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteUser">
        <doc xml:lang="EN" title="Delete a User">
            <xhtml:p class="shortdesc">
                Delete a user.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getUserSecret">
        <doc xml:lang="EN" title="Get User Secret Q/A">
            <xhtml:p class="shortdesc">
                Get a user's secret question and answer.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:userSecret">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/user_secret.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/user_secret.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="setUserSecret">
        <doc xml:lang="EN" title="Set User Secret Q/A">
            <xhtml:p class="shortdesc">
                Sets a user's secret question and answer.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:userSecret">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/user_secret.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/user_secret.json" />
                </doc>
            </representation>
        </request>
        <response status="204" />
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getUserPasswordCredentials">
        <doc xml:lang="EN" title="Get User's Password">
            <xhtml:p class="shortdesc">
                Get a user's password credentials.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:passwordCredentials">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/user_credentials.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/user_credentials.json" />
                </doc>     
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="setUserPasswordCredentials">
        <doc xml:lang="EN" title="Set User's Password">
            <xhtml:p class="shortdesc">
                Sets a user's password credentials.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:passwordCredentials">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/set_user_credentials.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/set_user_credentials.json" />
                </doc>
            </representation>
        </request>
        <response status="204" />
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="resetUserPasswordCredentials">
        <doc xml:lang="EN" title="Reset User's Password">
            <xhtml:p class="shortdesc">
                Reset a user's password credentials.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:passwordCredentials">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/user_credentials.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/user_credentials.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getPasswordRecoveryToken">
        <doc xml:lang="EN" title="Get Password Recovery Token">
            <xhtml:p class="shortdesc">
                Get a token that can be used to reset a user's password credentials.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:token">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/token.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/token.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getUserApplications">
        <doc xml:lang="EN" title="Get the Applications that a User has Provisioned">
            <xhtml:p class="shortdesc">
                Get the applications that have been provisioned for a user.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:applications">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/applications.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/applications.json" />
                </doc>               
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="addUserApplication">
        <doc xml:lang="EN" title="Provision an Application for a User">
            <xhtml:p class="shortdesc">
                Provision an application for a user.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
        &getFaults;
    </method>
    
    
    <method name="DELETE" id="deleteUserApplication">
        <doc xml:lang="EN" title="Remove Provisioned Application from a User">
            <xhtml:p class="shortdesc">
                Removed a provisioned application from a user.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
    
    <method name="GET" id="getUserTenantsRoles">
        <doc xml:lang="EN" title="Get User Tenants Roles">
            <xhtml:p class="shortdesc">
                Get a list of user's roles on all tenants.
            </xhtml:p>
        </doc>
        <request>
            <param name="applicationId" style="query" type="xsd:string" required="false">
                <doc>Filter list of user tenant roles by applicationId</doc>
            </param>
            <param name="tenantId" style="query" type="xsd:string" required="false">
                <doc>Filter list of user tenant roles by tenantId</doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:roles">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/tenantroles.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/tenantroles.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="addUserTenantRole">
        <doc xml:lang="EN" title="Grant User Role on Tenant">
            <xhtml:p class="shortdesc">
                Grant user a role on the tenant
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
    
    <method name="DELETE" id="deleteUserTenantRole">
        <doc xml:lang="EN" title="Remove User's Tenant Role">
            <xhtml:p class="shortdesc">
                Remove User's Tenant Role.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
    
    <method name="GET" id="getUserGlobalRoles">
        <doc xml:lang="EN" title="Get User Global Roles">
            <xhtml:p class="shortdesc">
                Get a list of user's global roles.
            </xhtml:p>
        </doc>
        <request>
            <param name="applicationId" style="query" type="xsd:string" required="false">
                <doc>Filter list of user roles by applicationId</doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:roles">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/roles.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/roles.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="addUserGlobalRole">
        <doc xml:lang="EN" title="Grant User a Global Role">
            <xhtml:p class="shortdesc">
                Grant user a global role.
            </xhtml:p>
            <xhtml:p>
                A global role is one that is not restricted just to a tenant. A global role could be application specific.
                A user could have the global admin role for the nova application, or a global admin role for all applications.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
    
    <method name="DELETE" id="deleteUserGlobalRole">
        <doc xml:lang="EN" title="Remove User's Global Role">
            <xhtml:p class="shortdesc">
                Remove global role from user.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
    
    <!-- Application Methods -->
    <method name="GET" id="getApplications">
        <doc xml:lang="EN" title="Get Applications">
            <xhtml:p class="shortdesc">
                Gets a list of applications.
            </xhtml:p>
        </doc>
        <request>
            <param name="name" style="query" type="xsd:string">
                <doc>Allows you search for an application by name</doc>
            </param>
            <param name="offset" style="query" type="xsd:int">
                <doc>0 based index to start list</doc>
            </param> 
            <param name="limit" style="query" type="xsd:int">
                <doc>Number of records to be returned</doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:applications">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/applications.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/applications.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>  
  
    <method name="POST" id="addApplication">
        <doc xml:lang="EN" title="Add an Application">
            <xhtml:p class="shortdesc">
                Add an application.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:application">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addapplication.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addapplication.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <param name="Location" style="header" type="xsd:string" required="true">
                <doc>Location to the uri of the newly created resource</doc>
            </param>
            <representation mediaType="application/xml" element="idm:application">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addedapplication.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addedapplication.json" />
                </doc>
            </representation>
        </response>
        <response status="409">
            <representation mediaType="application/xml" element="idm:applicationNameConflict"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
    </method>
    
    <method name="GET" id="getApplication">
        <doc xml:lang="EN" title="Get an Application">
            <xhtml:p class="shortdesc">
                Get an application.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:application">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/application.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/application.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="updateApplication">
        <doc xml:lang="EN" title="Update an Application">
            <xhtml:p class="shortdesc">
                Update an application.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:application">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/updateapplication.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/updateapplication.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:application">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/updatedapplication.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/updatedapplication.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteApplication">
        <doc xml:lang="EN" title="Delete an Application">
            <xhtml:p class="shortdesc">
                Delete as application.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
        &getFaults;
    </method>

    <method name="POST" id="resetApplicationSecretCredentials">
        <doc xml:lang="EN" title="Reset Application's Secret">
            <xhtml:p class="shortdesc">
                Reset application secret.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:secretCredentials">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/application_credentials.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/application_credentials.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>

    <method name="GET" id="getApplicationApplications">
        <doc xml:lang="EN" title="Get the Applications that an Application has Provisioned">
            <xhtml:p class="shortdesc">
                Get all applications that have been provisioned for this application..
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:applications">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/applications.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/applications.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="addApplicationApplication">
        <doc xml:lang="EN" title="Provision an Application for an Application">
            <xhtml:p class="shortdesc">
                Provision an application for this application.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteApplicationApplication">
        <doc xml:lang="EN" title="Remove Provisioned Application from an Application">
            <xhtml:p class="shortdesc">
                Removes a provisioned application from this application.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getApplicationTenantsRoles">
        <doc xml:lang="EN" title="Get Application Tenants Roles">
            <xhtml:p class="shortdesc">
                Get a list of applications's roles on all tenants.
            </xhtml:p>
        </doc>
        <request>
            <param name="applicationId" style="query" type="xsd:string" required="false">
                <doc>Filter list of application tenant roles by applicationId</doc>
            </param>
            <param name="tenantId" style="query" type="xsd:string" required="false">
                <doc>Filter list of application tenant roles by tenantId</doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:roles">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/tenantroles.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/tenantroles.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="addApplicationTenantRole">
        <doc xml:lang="EN" title="Grant Application Role on Tenant">
            <xhtml:p class="shortdesc">
                Grant application a role on the tenant
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
    
    <method name="DELETE" id="deleteApplicationTenantRole">
        <doc xml:lang="EN" title="Remove Application's Tenant Role">
            <xhtml:p class="shortdesc">
                Remove an application's role on a tenant.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
    
    <method name="GET" id="getApplicationGlobalRoles">
        <doc xml:lang="EN" title="Get Application Global Roles">
            <xhtml:p class="shortdesc">
                Get a list of aplications's global roles.
            </xhtml:p>
        </doc>
        <request>
            <param name="roleApplicationId" style="query" type="xsd:string" required="false">
                <doc>Allows you filter application specific roles</doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:roles">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/roles.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/roles.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="addApplicationGlobalRole">
        <doc xml:lang="EN" title="Grant Application a Global Role">
            <xhtml:p class="shortdesc">
                Grant application a global role.
            </xhtml:p>
            <xhtml:p>
                A global role is one that is not restricted just to a tenant. A global role could be application specific.
                An application could have the global admin role for the nova application, or a global admin role for all applications.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
    
    <method name="DELETE" id="deleteApplicationGlobalRole">
        <doc xml:lang="EN" title="Remove Application's Global Role">
            <xhtml:p class="shortdesc">
                Remove global role from application.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
    
    <!-- Role Methods -->
    <method name="POST" id="addRole">
        <doc xml:lang="EN" title="Add a Role">
            <xhtml:p class="shortdesc">
                Add a new role.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:role">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addrole.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addrole.json" />
                </doc>
            </representation>
        </request>
        <response status="201">
            <param name="Location" style="header" type="xsd:string" required="true">
                <doc>Location to the uri of the newly created role</doc>
            </param>
        </response>
        &commonFaults;
    </method>
    
    <method name="GET" id="getRoles">
        <doc xml:lang="EN" title="Get All Roles">
            <xhtml:p class="shortdesc">
                Get all roles.
            </xhtml:p>
        </doc>
        <request>
            <param name="name" style="query" type="xsd:string" required="false">
                <doc>Name of the role</doc>
            </param>
            <param name="applicationId" style="query" type="xsd:string" required="false">
                <doc>Application that role is tied to.</doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:roles">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/roles.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/roles.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getRole">
        <doc xml:lang="EN" title="Get Role">
            <xhtml:p class="shortdesc">
                Get a Role
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:role">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/role.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/role.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="updateRole">
        <doc xml:lang="EN" title="Modify a Role">
            <xhtml:p class="shortdesc">
                Modify an existing role.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:role">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addrole.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addrole.json" />
                </doc>              
            </representation>
        </request>
        <response status="204" />
        &commonFaults;
    </method>
    
    <method name="DELETE" id="deleteRole">
        <doc xml:lang="EN" title="Delete a Role">
            <xhtml:p class="shortdesc">
                Delete an existing role.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
    
    <!-- Identity Profile Methods -->
    <method name="POST" id="addIdentityProfile">
        <doc xml:lang="EN" title="Adds a Customer's Identity Profile">
            <xhtml:p class="shortdesc">
                Adds a customer's identity profile.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:customerIdentityProfile">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addidentityprofile.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/addidentityprofile.json" />
                </doc>
            </representation>
        </request>
        <response status="201">
            <param name="Location" style="header" type="xsd:string" required="true">
                <doc>Location to the uri of the newly created customer identity profile</doc>
            </param>
        </response>
        <response status="409">
            <representation mediaType="application/xml" element="idm:customerIdConflict"/>
            <representation mediaType="application/json"/>
        </response>
        &commonFaults;
    </method>
    
    <method name="GET" id="getIdentityProfile">
        <doc xml:lang="EN" title="Get a Customer's Identity Profile">
            <xhtml:p class="shortdesc">
                Gets a customer's identity profile.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:customerIdentityProfile">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/identityprofile.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/identityprofile.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteIdentityProfile">
        <doc xml:lang="EN" title="Delete a Customer's Identity Profile">
            <xhtml:p class="shortdesc">
                Delete a customer's identity profile.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="updateIdentityProfile">
        <doc xml:lang="EN" title="Updates a Customer's Identity Profile">
            <xhtml:p class="shortdesc">
                Updates a customer's identity profile.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:customerIdentityProfile">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/identityprofile.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/identityprofile.json" />
                </doc>
            </representation>
        </request>
        <response status="204" />
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="setPasswordRotationPolicy">
        <doc xml:lang="EN" title="Set Password Rotation Policy">
            <xhtml:p class="shortdesc">
                Sets the password rotation policy for a customer.
            </xhtml:p>
            <examples xmlns="http://docs.rackspace.com/api" title="Password Rotation Policy Request">
                <example href="../formattedsamples/passwordrotation.xml" language="xml"/>
                <example href="../formattedsamples/passwordrotation.json" language="javascript"/>
            </examples>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:passwordRotationPolicy"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="204" />
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getPasswordRotationPolicy">
        <doc xml:lang="EN" title="Get Password Rotation Policy">
            <xhtml:p class="shortdesc">
                Gets the password rotation policy for a customer.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:passwordRotationPolicy">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/passwordrotation.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/passwordrotation.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getIdentityProfileUsers">
        <doc xml:lang="EN" title="Get Users">
            <xhtml:p class="shortdesc">
                Gets a list of users that this customer owns.
            </xhtml:p>
        </doc>
        <request>
            <param name="offset" style="query" type="xsd:int">
                <doc>0 based index to start list</doc>
            </param> 
            <param name="limit" style="query" type="xsd:int">
                <doc>Number of records to be returned</doc>
            </param> 
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:users">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/users.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/users.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getIdentityProfileApplications">
        <doc xml:lang="EN" title="Get Applications">
            <xhtml:p class="shortdesc">
                Gets a list of applications that this customer owns.
            </xhtml:p>
        </doc>
        <request>
            <param name="offset" style="query" type="xsd:int">
                <doc>0 based index to start list</doc>
            </param> 
            <param name="limit" style="query" type="xsd:int">
                <doc>Number of records to be returned</doc>
            </param> 
        </request>
        <response status="200">
            <representation mediaType="application/xml" element="idm:applications">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/applications.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/applications.json" />
                </doc>               
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <!-- Password rules methods -->
    <method name="GET" id="getPasswordRules">
        <doc xml:lang="EN" title="Get Password Rules">
            <xhtml:p class="shortdesc">
                Get password rules.
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:passwordRuleResults">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/password_rule_results.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/password_rule_results.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="validatePassword">
        <doc xml:lang="EN" title="Password Validation Check">
            <xhtml:p class="shortdesc">
               Validate password to ensure it conforms to password rules.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:userPassword">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/user_password.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/user_password.json" />
                </doc>
            </representation>
        </request>
        <response status="200" >
            <representation mediaType="application/xml" element="idm:passwordValidation">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/password_validation.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/password_validation.json" />
                </doc>        
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <!-- Tenant Methods -->
    <method name="POST" id="createTenant">
        <doc xml:lang="EN" title="Add a Tenant">
            <xhtml:p class="shortdesc">
                Add a new Tenant.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:tenant">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/Tenant.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/Tenant.json" />
                </doc>
            </representation>
        </request>
        <response status="201">
            <param name="Location" style="header" type="xsd:string" required="true">
                <doc>Location to the uri of the newly created Tenant</doc>
            </param>
        </response>
        &commonFaults;
    </method>
    
    <method name="GET" id="getTenant">
        <doc xml:lang="EN" title="Get Tenant">
            <xhtml:p class="shortdesc">
                Get a Tenant
            </xhtml:p>
        </doc>
        <response status="200">
            <representation mediaType="application/xml" element="idm:tenant">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/Tenant.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/Tenant.json" />
                </doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="updateTenant">
        <doc xml:lang="EN" title="Modify a Tenant">
            <xhtml:p class="shortdesc">
                Modify an existing Tenant.
            </xhtml:p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="idm:tenant">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/Tenant.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../formattedsamples/Tenant.json" />
                </doc>              
            </representation>
        </request>
        <response status="204" />
        &commonFaults;
    </method>
    
    <method name="DELETE" id="deleteTenant">
        <doc xml:lang="EN" title="Delete a Tenant">
            <xhtml:p class="shortdesc">
                Delete an existing Tenant.
            </xhtml:p>
        </doc>
        <response status="204" />
        &commonFaults;
    </method>
</application>
