Source/contracts/cloud-v1.1/auth.wadl

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:auth="http://docs.rackspacecloud.com/auth/api/v1.1"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xsi:schemaLocation="http://docs.rackspacecloud.com/auth/api/v1.1
                                 api.xsd"
        >

    <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars>

    <resources base="https://auth.api.rackspacecloud.com">
        <resource id="version" path="v1.1">
            <method href="#getVersionInfo"/>
            <resource id="extensions" path="extensions">
                <method href="#getExtensions"/>
                <resource id="alias" path="{alias}">
                    <param name="alias" style="template" type="xsd:string"/>
                    <method href="#getExtension"/>
                </resource>
            </resource>
            <resource id="auth" path="auth">
                <method href="#authenticate"/>
            </resource>
        </resource>
    </resources>

    <!-- Extensions -->
    <method name="GET" id="getExtensions">
        <response status="200 203">
            <representation mediaType="application/xml" element="auth:extensions"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="auth:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="auth:idmFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="auth:serviceUnavailable"/>
        </response>
        <response status="400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="GET" id="getExtension">
        <response status="200 203">
            <representation mediaType="application/xml" element="auth:extension"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="auth:badRequest"/>
        </response>
        <response status="404">
            <representation mediaType="application/xml" element="auth:itemNotFound"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="auth:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="auth:serviceUnavailable"/>
        </response>
        <response status="400 404 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>


    <method name="GET" id="getVersionInfo">
        <response status="200 203">
            <representation mediaType="application/xml" element="auth:version"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="auth:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="auth:serviceUnavailable"/>
        </response>
        <response status="500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

    <method name="POST" id="authenticate">
        <request>
            <representation mediaType="application/xml" element="auth:credentials"/>
            <representation mediaType="application/json"/>
        </request>
        <response status="200 203">
            <representation mediaType="application/xml" element="auth:auth"/>
            <representation mediaType="application/json"/>
        </response>
        <response status="401">
            <representation mediaType="application/xml" element="auth:unauthorized"/>
        </response>
        <response status="403">
            <representation mediaType="application/xml" element="auth:userDisabled"/>
        </response>
        <response status="400">
            <representation mediaType="application/xml" element="auth:badRequest"/>
        </response>
        <response status="500">
            <representation mediaType="application/xml" element="auth:authFault"/>
        </response>
        <response status="503">
            <representation mediaType="application/xml" element="auth:serviceUnavailable"/>
        </response>
        <response status="401 403 400 500 503">
            <representation mediaType="application/json"/>
        </response>
    </method>

</application>
