src/main/resources/cloudv20/identity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:sum="http://docs.rackspace.com/core/usage/schema/summary"
            xmlns:p="http://docs.rackspace.com/event/identity/user"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/identity/user">
   <element name="product"
            type="p:CloudIdentity3Type"
            vc:minVersion="1.0"
            vc:maxVersion="1.1">
      <annotation>
         <documentation>
            <html:p>
                        Alternates are not supported by XSD 1.0.  So
                        in XSD 1.0 we are only supporting a single
                        version (in this case version 3).
                    </html:p>
            <html:p>
                        To support other versions you may redefine the
                        product element to any of the following types:
                    </html:p>
            <html:ol>
               <html:li>p:CloudIdentity1Type</html:li>
               <html:li>p:CloudIdentity2Type</html:li>
               <html:li>p:CloudIdentity3Type</html:li>
            </html:ol>
         </documentation>
      </annotation>
   </element>
   <!-- Only one element named "product" is allowed
   <element name="product" vc:minVersion="1.1" type="p:BaseCloudIdentityType">
      <alternative test="(@version eq '1') and not(@summary)" type="p:CloudIdentity1Type"/>
      <alternative test="(@version eq '2') and not(@summary)" type="p:CloudIdentity2Type"/>
      <alternative test="(@version eq '3') and not(@summary)" type="p:CloudIdentity3Type"/>
      <alternative type="p:BaseCloudIdentityTypeError"/>
   </element>
   -->
   <complexType name="BaseCloudIdentityType">
      <attribute name="version" type="xsd:string" use="required"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudIdentity"/>
   </complexType>
   <complexType name="BaseCloudIdentityTypeError" vc:minVersion="1.1">
      <complexContent>
         <extension base="p:BaseCloudIdentityType">
            <!-- JAXB is unable to parse element 'openContent'.
            <openContent mode="interleave">
               <any processContents="skip"/>
            </openContent>
            -->
            <anyAttribute processContents="skip"/>
            <!-- JAXB is unable to parse element 'assert'. Versions of the product schema are controlled by customer identity.
            <assert test="false()"
                    xerces:message="For this type of message, only  versions ( 1, 2, 3 ) are supported."
                    saxon:message="For this type of message, only  versions ( 1, 2, 3 ) are supported."/>
            -->
         </extension>
      </complexContent>
   </complexType>
   <complexType name="CloudIdentity1Type">
      <annotation>
         <documentation>
            <html:p>Specifies the identity user messages.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE SUSPEND UNSUSPEND UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <complexContent>
         <extension base="p:BaseCloudIdentityType">
            <attribute name="resourceType" use="required" type="p:ResourceTypes1"/>
            <attribute name="displayName" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>Specifies the display name of the user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="groups" use="optional" type="p:groups1List">
               <annotation>
                  <documentation>
                     <html:p>Specifies the list of group Ids that are currently associated with a user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="roles" use="optional" type="p:roles1List">
               <annotation>
                  <documentation>
                     <html:p>Specifies the list of roles that are currently associated with a user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="migrated"
                       use="optional"
                       default="false"
                       type="xsd:boolean">
               <annotation>
                  <documentation>
                     <html:p>If this value is set to true, the user has been migrated to global authentication. The default value is false.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="multiFactorEnabled"
                       use="optional"
                       default="false"
                       type="xsd:boolean">
               <annotation>
                  <documentation>
                     <html:p>If this value is true, the user has turned on multi-factor authentication. The default value is false.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="ResourceTypes1">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="USER"/>
      </restriction>
   </simpleType>
   <simpleType name="groups1List">
      <list itemType="p:string"/>
   </simpleType>
   <simpleType name="roles1List">
      <list itemType="p:string"/>
   </simpleType>
   <complexType name="CloudIdentity2Type">
      <annotation>
         <documentation>
            <html:p>Specifies the identity user messages.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE SUSPEND UNSUSPEND UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <complexContent>
         <extension base="p:BaseCloudIdentityType">
            <attribute name="resourceType" use="required" type="p:ResourceTypes2"/>
            <attribute name="displayName" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>Specifies the display name of the user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="groups" use="optional" type="p:groups2List">
               <annotation>
                  <documentation>
                     <html:p>Specifies the list of group Ids that are currently associated with a user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="roles" use="optional" type="p:roles2List">
               <annotation>
                  <documentation>
                     <html:p>Specifies the list of roles that are currently associated with a user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="migrated"
                       use="optional"
                       default="false"
                       type="xsd:boolean">
               <annotation>
                  <documentation>
                     <html:p>If this value is set to true, the user has been migrated to global authentication. The default value is false.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="multiFactorEnabled"
                       use="optional"
                       default="false"
                       type="xsd:boolean">
               <annotation>
                  <documentation>
                     <html:p>If this value is set to true, the user has turned on multi-factor authentication. The default value is false.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="updatedAttributes"
                       use="optional"
                       type="p:updatedAttributes2List">
               <annotation>
                  <documentation>
                     <html:p>Specifies the attributes that have been updated.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes searchable="true"/>
                  </appinfo>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="ResourceTypes2">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="USER"/>
      </restriction>
   </simpleType>
   <simpleType name="groups2List">
      <list itemType="p:string"/>
   </simpleType>
   <simpleType name="roles2List">
      <list itemType="p:string"/>
   </simpleType>
   <simpleType name="updatedAttributes2List">
      <list itemType="p:updatedAttributes2Enum"/>
   </simpleType>
   <simpleType name="updatedAttributes2Enum">
      <restriction base="xsd:Name">
         <enumeration value="PASSWORD"/>
         <enumeration value="ROLES"/>
         <enumeration value="GROUPS"/>
         <enumeration value="FIRSTNAME"/>
      </restriction>
   </simpleType>
   <complexType name="CloudIdentity3Type">
      <annotation>
         <documentation>
            <html:p>Specifies the identity user messages.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE SUSPEND UNSUSPEND UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <complexContent>
         <extension base="p:BaseCloudIdentityType">
            <attribute name="resourceType" use="required" type="p:ResourceTypes3"/>
            <attribute name="displayName" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>Specifies the display name of the user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="groups" use="optional" type="p:groups3List">
               <annotation>
                  <documentation>
                     <html:p>Specifies the list of group Ids that are currently associated with a user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="roles" use="optional" type="p:roles3List">
               <annotation>
                  <documentation>
                     <html:p>Specifies the list of roles that are currently associated with a user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="migrated"
                       use="optional"
                       default="false"
                       type="xsd:boolean">
               <annotation>
                  <documentation>
                     <html:p>If this value is set to true, the user has been migrated to global authentication. The default value is false.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="multiFactorEnabled"
                       use="optional"
                       default="false"
                       type="xsd:boolean">
               <annotation>
                  <documentation>
                     <html:p>If this value is true, the user has turned on multi-factor authentication. The default value is false.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="domainId" use="required" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>Specifies the domain ID to which the user belongs.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="contactId" use="optional" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>Specifies the core contact ID of the user.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="requestId" use="optional" type="p:string">
               <annotation>
                  <documentation>
                     <html:p>The transaction ID associated with the API request that triggered the event. This is often referred to as the ``X-Request-Id``.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes/>
                  </appinfo>
               </annotation>
            </attribute>
            <attribute name="updatedAttributes"
                       use="optional"
                       type="p:updatedAttributes3List">
               <annotation>
                  <documentation>
                     <html:p>Specifies the attributes that have been updated.</html:p>
                  </documentation>
                  <appinfo>
                     <usage:attributes searchable="true"/>
                  </appinfo>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <simpleType name="ResourceTypes3">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="USER"/>
      </restriction>
   </simpleType>
   <simpleType name="groups3List">
      <list itemType="p:string"/>
   </simpleType>
   <simpleType name="roles3List">
      <list itemType="p:string"/>
   </simpleType>
   <simpleType name="updatedAttributes3List">
      <list itemType="p:updatedAttributes3Enum"/>
   </simpleType>
   <simpleType name="updatedAttributes3Enum">
      <restriction base="xsd:Name">
         <enumeration value="PASSWORD"/>
         <enumeration value="ROLES"/>
         <enumeration value="GROUPS"/>
         <enumeration value="FIRSTNAME"/>
         <enumeration value="USER"/>
         <enumeration value="USER_GROUP"/>
      </restriction>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
