src/main/resources/cloudv20/identity-trr-user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:sum="http://docs.rackspace.com/core/usage/schema/summary"
            xmlns:p="http://docs.rackspace.com/event/identity/trr/user"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/identity/trr/user">
    <element name="product" type="p:CloudIdentityType"/>
    <complexType name="CloudIdentityType">
        <annotation>
            <documentation>
                <html:p>Specifies the event surrounding the creation of a user token revocation record (TRR) in the Identity system. A User TRR specifies a set of tokens that should be considered revoked for a user by describing characteristics of a token. A token should be considered revoked when a token matches all these characteristics. There are three attributes associated with a token that should be compared against a user TRR. If ALL of these attributes match, that token should be considered revoked. The pseudo rules are: 1. token.userId = event.resourceId 2. token.createdDate &lt; event.tokenCreationDate 3. token.authenticatedBy == ONE OF (event.tokenAuthenticatedBy.values) The last rule, 3, is applicable if, and only if, one or more event.tokenAuthenticatedBy elements are provided in the User TRR event. If no event.tokenAuthenticatedBy element is provided in the TRR, then all tokens that match Rule 1 and Rule 2 should be considered revoked. If one or more event.tokenAuthenticatedBy elements are included in the User TRR event, then Rule 3 must be applied to determine if the token should be revoked. A token contains the attribute 'authenticatedBy' which is a SET of unordered authentication methods that were provided by the user in order to generate that token. Each tokenAuthenticatedBy element in the User TRR event specifies a SET (unordered) of authentication methods. A given token matches a given event.tokenAuthenticatedBy if, and only if, the sets are equal (regadless of order). For example, token.authenticatedBy {A} = event.tokenAuthenticatedBy {A} token.authenticatedBy {A} != event.tokenAuthenticatedBy {A, B} token.authenticatedBy {A, B} != event.tokenAuthenticatedBy {A} token.authenticatedBy {A, B} = event.tokenAuthenticatedBy {A, B} token.authenticatedBy {A, B} = event.tokenAuthenticatedBy {B, A}</html:p>
            </documentation>
            <appinfo>
                <usage:core type="DELETE"/>
            </appinfo>
        </annotation>
        <!--<all vc:minVersion="1.1">-->
            <!--<element name="tokenAuthenticatedBy" minOccurs="0" maxOccurs="10">-->
                <!--<complexType>-->
                    <!--<attribute name="values" use="required" type="p:valuesList">-->
                        <!--<annotation>-->
                            <!--<documentation>-->
                                <!--<html:p>The set of authentication method(s).</html:p>-->
                            <!--</documentation>-->
                            <!--<appinfo>-->
                                <!--<usage:attributes/>-->
                            <!--</appinfo>-->
                        <!--</annotation>-->
                    <!--</attribute>-->
                <!--</complexType>-->
            <!--</element>-->
        <!--</all>-->
        <!--Order matters in XSD 1.0 :-(--><sequence vc:minVersion="1.0" vc:maxVersion="1.1">
        <element name="tokenAuthenticatedBy" minOccurs="0" maxOccurs="10">
            <complexType>
                <attribute name="values" use="required" type="p:valuesList">
                    <annotation>
                        <documentation>
                            <html:p>The set of authentication method(s).</html:p>
                        </documentation>
                        <appinfo>
                            <usage:attributes/>
                        </appinfo>
                    </annotation>
                </attribute>
            </complexType>
        </element>
    </sequence>
        <attribute name="version" type="xsd:string" use="required" fixed="1"/>
        <attribute name="serviceCode"
                   use="required"
                   type="xsd:Name"
                   fixed="CloudIdentity"/>
        <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
        <attribute name="tenants" use="optional" type="p:tenantsList">
            <annotation>
                <documentation>
                    <html:p>Specifies the space separated IDs of the tenant associated with this user, if any.</html:p>
                </documentation>
                <appinfo>
                    <usage:attributes/>
                </appinfo>
            </annotation>
        </attribute>
        <attribute name="tokenCreationDate" use="required" type="p:UTCDateTime">
            <annotation>
                <documentation>
                    <html:p>Specifies the date to compare against a token's creation date. Tokens that were created before this date (and match the other criteria in the TRR) should be considered revoked</html:p>
                </documentation>
                <appinfo>
                    <usage:attributes/>
                </appinfo>
            </annotation>
        </attribute>
    </complexType>
    <simpleType name="ResourceTypes">
        <annotation>
            <documentation>
                <html:p>Resource Types for this product.</html:p>
            </documentation>
        </annotation>
        <restriction base="xsd:token">
            <enumeration value="TRR_USER"/>
        </restriction>
    </simpleType>
    <simpleType name="tenantsList">
        <list itemType="p:string"/>
    </simpleType>
    <simpleType name="valuesList">
        <list itemType="p:valuesEnum"/>
    </simpleType>
    <simpleType name="valuesEnum">
        <restriction base="xsd:Name">
            <enumeration value="PASSWORD"/>
            <enumeration value="APIKEY"/>
            <enumeration value="PASSCODE"/>
            <enumeration value="RSAKEY"/>
            <enumeration value="FEDERATION"/>
        </restriction>
    </simpleType>
    <simpleType name="UTCDateTime">
        <restriction base="xsd:dateTime" vc:minVersion="1.0" vc:maxVersion="1.1"/>
        <!--<restriction base="xsd:dateTimeStamp" vc:minVersion="1.1">-->
            <!--<assertion test="ends-with(string($value),'Z') or ends-with(string($value),'+00:00') or ends-with(string($value),'-00:00')"-->
                       <!--xerces:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."-->
                       <!--saxon:message="The dateTime should be in the UTC timezone, it is expect to end in +00:00 or Z."/>-->
        <!--</restriction>-->
    </simpleType>
    <simpleType name="string">
        <restriction base="xsd:string">
            <minLength value="0"/>
            <maxLength value="255"/>
        </restriction>
    </simpleType>
</xsd:schema>
