src/main/resources/cloudv20/identity-idp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:sum="http://docs.rackspace.com/core/usage/schema/summary"
            xmlns:p="http://docs.rackspace.com/event/identity/idp"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/identity/idp">
   <element name="product" type="p:CloudIdentityType"/>
   <complexType name="CloudIdentityType">
      <annotation>
         <documentation>
            <html:p>Specifies the invalidation event for the IDP. This means something in the IDP has changed. To keep things simple for version one of the event only the IDP ID, which as the event resource Id and the issuer is specified. Future versions may consider pushing the attributes that actually changed such as the authenticationURL, name, or mapping policy.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="CREATE UPDATE DELETE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudIdentity"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="issuer" use="required" type="xsd:anyURI">
         <annotation>
            <documentation>
               <html:p>Specifies the issuer uri associated with this IDP.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="IDP"/>
      </restriction>
   </simpleType>
</xsd:schema>
