src/main/resources/cloudv20/identity-credential.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--THIS SCHEMA IS AUTOGENERATED DO NOT EDIT-->
<xsd:schema xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:html="http://www.w3.org/1999/xhtml"
            xmlns:xerces="http://xerces.apache.org"
            xmlns:saxon="http://saxon.sf.net/"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:usage="http://docs.rackspace.com/core/usage"
            xmlns:sum="http://docs.rackspace.com/core/usage/schema/summary"
            xmlns:p="http://docs.rackspace.com/event/identity/user/credential"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            targetNamespace="http://docs.rackspace.com/event/identity/user/credential">
   <element name="product" type="p:CloudIdentityType"/>
   <complexType name="CloudIdentityType">
      <annotation>
         <documentation>
            <html:p>Represents a change in a user's credentials.</html:p>
         </documentation>
         <appinfo>
            <usage:core type="UPDATE"/>
         </appinfo>
      </annotation>
      <attribute name="version" type="xsd:string" use="required" fixed="1"/>
      <attribute name="serviceCode"
                 use="required"
                 type="xsd:Name"
                 fixed="CloudIdentity"/>
      <attribute name="resourceType" use="required" type="p:ResourceTypes"/>
      <attribute name="userId" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>Specifies the UUID of the user.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="username" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>Specifies the username of the user.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="email" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>Specifies the email address of the user.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="domainId" use="required" type="p:string">
         <annotation>
            <documentation>
               <html:p>Specifies the domain of the user.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="credentialUpdateDateTime" use="required" type="p:UTCDateTime">
         <annotation>
            <documentation>
               <html:p>Specifies the date and time that the credential was updated.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="credentialType" use="required" type="p:credentialTypeEnum">
         <annotation>
            <documentation>
               <html:p>Specifies the type of credential that has been updated on the user.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
      <attribute name="requestId" use="optional" type="p:string">
         <annotation>
            <documentation>
               <html:p>Specifies the ID of the request that triggered the user credential change.</html:p>
            </documentation>
            <appinfo>
               <usage:attributes/>
            </appinfo>
         </annotation>
      </attribute>
   </complexType>
   <simpleType name="ResourceTypes">
      <annotation>
         <documentation>
            <html:p>Resource Types for this product.</html:p>
         </documentation>
      </annotation>
      <restriction base="xsd:token">
         <enumeration value="USER"/>
      </restriction>
   </simpleType>
   <simpleType name="credentialTypeEnum">
      <restriction base="xsd:Name">
         <enumeration value="PASSWORD"/>
      </restriction>
   </simpleType>
   <simpleType name="UTCDateTime">
      <restriction base="xsd:dateTime" vc:minVersion="1.0" vc:maxVersion="1.1"/>
   </simpleType>
   <simpleType name="string">
      <restriction base="xsd:string">
         <minLength value="0"/>
         <maxLength value="255"/>
      </restriction>
   </simpleType>
</xsd:schema>
