src/main/resources/cloudv20/RAX-AUTH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->

<schema
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
        xmlns:RAX-AUTH="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:OS-KSCATALOG="http://docs.openstack.org/identity/api/ext/OS-KSCATALOG/v1.0"
        xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
        targetNamespace="http://docs.rackspace.com/identity/api/ext/RAX-AUTH/v1.0">

    <import namespace="http://docs.openstack.org/identity/api/v2.0" schemaLocation="token.xsd" />
    <import namespace="http://docs.openstack.org/identity/api/v2.0" schemaLocation="user.xsd" />

    <import namespace="http://docs.openstack.org/identity/api/v2.0" schemaLocation="api.xsd" />
    <import namespace="http://docs.rackspace.com/identity/api/ext/RAX-KSKEY/v1.0" schemaLocation="RAX-KSKEY-credentials.xsd" />
    <import namespace="http://docs.openstack.org/identity/api/ext/OS-KSCATALOG/v1.0" schemaLocation="OS-KSCATALOG.xsd" />

    <attribute name="defaultRegion" type="xsd:string" />
    <attribute name="domainId" type="xsd:string" />
    <attribute name="contactId" type="xsd:string" />

    <attribute name="propagate" type="xsd:boolean" />
    <attribute name="administratorRole" type="xsd:string" />

    <attribute name="federatedIdp" type="xsd:string" />
    <attribute name="tenantAlias" type="xsd:string" />
    <attribute name="multiFactorEnabled" type="xsd:boolean"/>
    <attribute name="multiFactorState" type="RAX-AUTH:MultiFactorStateEnum" />
    <attribute name="userMultiFactorEnforcementLevel" type="RAX-AUTH:UserMultiFactorEnforcementLevelEnum" />
    <attribute name="scope" type="RAX-AUTH:ScopeEnum" />
    <attribute name="federationType" type="RAX-AUTH:IdentityProviderFederationTypeEnum" />
    <attribute name="pemEncoding" type="xsd:string" />
    <attribute name="tokenFormat" type="RAX-AUTH:TokenFormatEnum" />
    <attribute name="factorType" type="RAX-AUTH:FactorTypeEnum" />
    <attribute name="assignmentType" type="RAX-AUTH:EndpointTemplateAssignmentTypeEnum" />
    <attribute name="assignment" type="RAX-AUTH:RoleAssignmentEnum" />
    <attribute name="roleType" type="RAX-AUTH:RoleTypeEnum" />
    <attribute name="issued" type="xsd:dateTime" />
    <attribute name="passwordExpiration" type="xsd:dateTime" />
    <attribute name="delegationAgreementId" type="xsd:string"/>

    <attribute name="sessionInactivityTimeout" type="xsd:duration">
        <annotation>
            <xsd:documentation>
                <p>
                    Session inactivity timeout property used across all Rackspace UIs
                </p>
            </xsd:documentation>
        </annotation>
    </attribute>

    <element name="authenticatedBy" type="RAX-AUTH:AuthenticatedBy" />
    <element name="defaultRegionServices" type="RAX-AUTH:DefaultRegionServices" />
    <element name="impersonation" type="RAX-AUTH:ImpersonationRequest" />
    <element name="access" type="RAX-AUTH:ImpersonationResponse" />
    <element name="impersonator" type="identity:UserForAuthenticateResponse" >
    	<annotation>
            <xsd:documentation>
                <p>The user impersonating.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="domain" type="RAX-AUTH:Domain" >
        <annotation>
            <xsd:documentation>
                <p>A domain represents an administrative boundary for identity management.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="mobilePhone" type="RAX-AUTH:MobilePhone" >
        <annotation>
            <xsd:documentation>
                <p>A mobile phone represents an mobile phone capable of being used for multifactor.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="mobilePhones" type="RAX-AUTH:MobilePhones" >
        <annotation>
            <xsd:documentation>
                <p>A mobilePhones represents a list of mobile phone capable of being used for multifactor.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="verificationCode" type="RAX-AUTH:VerificationCode" >
        <annotation>
            <xsd:documentation>
                <p>A verification code represents a code used for verification of something.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="multiFactor" type="RAX-AUTH:MultiFactor" >
        <annotation>
            <xsd:documentation>
                <p>Settings for multifactor authentication.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="domains" type="RAX-AUTH:Domains" />
    <element name="regions" type="RAX-AUTH:Regions" />
    <element name="region" type="RAX-AUTH:Region" />
    <element name="questions" type="RAX-AUTH:Questions" />
    <element name="question" type="RAX-AUTH:Question" />
    <element name="secretqas" type="RAX-AUTH:SecretQAs" />
    <element name="secretqa" type="RAX-AUTH:SecretQA" />

    <element name="phonePin" type="RAX-AUTH:PhonePin" >
        <annotation>
            <xsd:documentation>
                <p>A numeric phone PIN that is assigned to the user when created.</p>
            </xsd:documentation>
        </annotation>
    </element>

    <element name="rsaCredentials" type="RAX-AUTH:RsaCredentials" substitutionGroup="identity:credential" />
    <element name="passcodeCredentials" type="RAX-AUTH:PasscodeCredentials" substitutionGroup="identity:credential" />
    <element name="forgotPasswordCredentials" type="RAX-AUTH:ForgotPasswordCredentials" />
    <element name="changePasswordCredentials" type="RAX-AUTH:ChangePasswordCredentials" />
    <element name="delegationCredentials" type="RAX-AUTH:DelegationCredentials" substitutionGroup="identity:credential" />
    <element name="bypassCodes" type="RAX-AUTH:BypassCodes"/>
    <element name="multiFactorDomain" type="RAX-AUTH:MultiFactorDomain"/>
    <element name="tenantType" type="RAX-AUTH:TenantType" />
    <element name="tenantTypes" type="RAX-AUTH:TenantTypes" />
    <element name="identityProvider" type="RAX-AUTH:IdentityProvider"/>
    <element name="identityProviders" type="RAX-AUTH:IdentityProviders">
        <annotation>
            <xsd:documentation>
                <p>A list of Identity Providers.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="publicCertificate" type="RAX-AUTH:PublicCertificate"/>
    <element name="publicCertificates" type="RAX-AUTH:PublicCertificates"/>
    <element name="approvedDomainIds" type="RAX-AUTH:ApprovedDomainIds"/>
    <element name="emailDomains" type="RAX-AUTH:EmailDomains"/>
    <element name="otpDevice" type="RAX-AUTH:OTPDevice" >
        <annotation>
            <xsd:documentation>
                <p>A OTP device capable of being used for multifactor.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="otpDevices" type="RAX-AUTH:OTPDevices" >
        <annotation>
            <xsd:documentation>
                <p>A list of OTP devices capable of being used for multifactor.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="multiFactorDevices" type="RAX-AUTH:MultiFactorDevices" >
        <annotation>
            <xsd:documentation>
                <p>A list of multi factor devices.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="tenantTypeEndpointRule" type="RAX-AUTH:TenantTypeEndpointRule"/>
    <element name="endpointAssignmentRules" type="RAX-AUTH:EndpointAssignmentRules" >
        <annotation>
            <xsd:documentation>
                <p>A list of endpoint assignment rules.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="tenantTypeEndpointRules" type="RAX-AUTH:TenantTypeEndpointRules" >
        <annotation>
            <xsd:documentation>
                <p>A list of tenant type endpoint assignment rules.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="types" type="RAX-AUTH:Types" >
        <annotation>
            <xsd:documentation>
                <p>A list of tenant type.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="identityProperty" type="RAX-AUTH:IdentityProperty" >
        <annotation>
            <xsd:documentation>
                <p>An Identity property.</p>
            </xsd:documentation>
        </annotation>
    </element>
    <element name="domainAdministratorChange" type="RAX-AUTH:DomainAdministratorChange" >
        <annotation>
            <xsd:documentation>
                <p>A request to change the administrator of a domain.</p>
            </xsd:documentation>
        </annotation>
    </element>

    <element name="userGroup" type="RAX-AUTH:UserGroup" />
    <element name="userGroups" type="RAX-AUTH:UserGroups" />
    <element name="tenantAssignment" type="RAX-AUTH:TenantAssignment" />
    <element name="tenantAssignments" type="RAX-AUTH:TenantAssignments" />
    <element name="roleAssignments" type="RAX-AUTH:RoleAssignments" />
    <element name="delegationAgreement" type="RAX-AUTH:DelegationAgreement" />
    <element name="delegationAgreements" type="RAX-AUTH:DelegationAgreements" />
    <element name="delegateReference" type="RAX-AUTH:DelegateReference" />
    <element name="delegateReferences" type="RAX-AUTH:DelegateReferences" >
        <annotation>
            <xsd:documentation>
                <p>A list of delegates.</p>
            </xsd:documentation>
        </annotation>
    </element>

    <!-- Complex Types -->
    <complexType name="Types">
        <sequence>
            <element name="type" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="TenantType">
        <attribute name="name" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the tenant type.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="description" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The description of the tenant type.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="TenantTypes">
        <sequence>
            <element name="tenantType" type="RAX-AUTH:TenantType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="AuthenticatedBy">
        <sequence>
            <element name="credential" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <simpleType name="MultiFactorStateEnum">
        <restriction base="xsd:string">
            <enumeration value="ACTIVE"/>
            <enumeration value="LOCKED"/>
        </restriction>
    </simpleType>

    <simpleType name="ScopeEnum">
        <restriction base="xsd:string">
            <enumeration value="SETUP-MFA"/>
            <enumeration value="MFA-SESSION-ID"/>
        </restriction>
    </simpleType>

    <complexType name="ImpersonationRequest">
        <sequence>
            <element name="user" type="identity:User" >
                <annotation>
                    <xsd:documentation>
                        <p>The user being impersonated.</p>
                    </xsd:documentation>
                </annotation>
            </element>
            <element name="expire-in-seconds" type="int" minOccurs="0" maxOccurs="1"/>
        </sequence>
    </complexType>

    <complexType name="ImpersonationResponse">
        <sequence>
            <element name="token" type="identity:Token">
                <annotation>
                    <xsd:documentation>
                        <p>A token representing the impersonated user.</p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="MultiFactorDevice" abstract="true">
        <attribute name="id" type="xsd:string">
        <annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    An ID uniquely identifying the device.
                </p>
            </xsd:documentation>
        </annotation>
        </attribute>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="MobilePhone">
        <complexContent>
            <extension base="RAX-AUTH:MultiFactorDevice">
                <attribute name="number" type="xsd:string">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                The phone number of the mobile phone.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
                <attribute name="verified" type="xsd:boolean">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                Whether the device has been verified for the associated user.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="MobilePhones">
        <sequence>
            <element name="mobilePhone" type="RAX-AUTH:MobilePhone" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
    <complexType name="VerificationCode">
        <attribute name="code" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The code used for verification.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
    <complexType name="MultiFactor">
        <attribute name="enabled" type="xsd:boolean" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Whether to enable or disable multi-factor
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="unlock" type="xsd:boolean" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        After a number of unsuccessful multifactor authentication attempts a user's account will become locked.
                        When set to true, and the caller has appropriate permissions, this will unlock the user's account if
                        the user has multifactor enabled. When set to false or not provided, no change will be made to
                        the lock status of the user's account.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="userMultiFactorEnforcementLevel" type="RAX-AUTH:UserMultiFactorEnforcementLevelEnum" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An enumeration indicating if user has required multifactor.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="factorType" type="RAX-AUTH:FactorTypeEnum" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Type of the second type of factor that will be required to authenticate when multi-factor is enabled.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
    <complexType name="Domain">
        <sequence>
            <element name="description" type="xsd:string" minOccurs="0">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            A free text description of the domain.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="id" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the domain.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the domain.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="enabled" type="xsd:boolean" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if domain is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="domainMultiFactorEnforcementLevel" type="RAX-AUTH:DomainMultiFactorEnforcementLevelEnum" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An enumeration indicating if domain has required multifactor.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="sessionInactivityTimeout" type="xsd:duration" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Session inactivity timeout property used across all Rackspace UIs
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="rackspaceCustomerNumber" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The rackspace customer number.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Domains">
        <sequence>
            <element name="domain" type="RAX-AUTH:Domain" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="DefaultRegionServices">
        <sequence>
            <element name="serviceName" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            Service name.
                        </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Region">
        <attribute name="name" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the region.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="isDefault" type="xsd:boolean" use="optional" default="false">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if region is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="enabled" type="xsd:boolean" use="optional" default="false">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A boolean indicating if region is active or not.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Regions">
        <sequence>
            <element name="region" type="RAX-AUTH:Region" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="Question">
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The id of the question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="question" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="Questions">
        <sequence>
            <element name="question" type="RAX-AUTH:Question" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="PhonePin">
        <attribute name="pin" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Unique numeric pin.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="SecretQA">
        <attribute name="id" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The id of the question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="question" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The question.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="answer" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The answer.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="SecretQAs">
        <sequence>
            <element name="secretqa" type="RAX-AUTH:SecretQA" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="RsaCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="username" type="xsd:string" use="required" />
                <attribute name="tokenKey" type="xsd:string" use="required" />
            </extension>
        </complexContent>
    </complexType>

    <complexType name="PasscodeCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="passcode" type="xsd:string" use="required" />
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ChangePasswordCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="username" type="xsd:string" use="required" />
                <attribute name="password" type="xsd:string" use="required" />
                <attribute name="newPassword" type="xsd:string" use="required" />
            </extension>
        </complexContent>
    </complexType>

    <complexType name="ForgotPasswordCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="username" type="xsd:string" use="optional" />
                <attribute name="portal" type="xsd:string" use="optional" />
            </extension>
        </complexContent>
    </complexType>

    <complexType name="DelegationCredentials">
        <complexContent>
            <extension base="identity:CredentialType">
                <attribute name="token" type="xsd:string" use="optional" />
                <attribute name="delegationAgreementId" type="xsd:string" use="optional" />
            </extension>
        </complexContent>
    </complexType>

    <complexType name="MultiFactorDomain">
        <sequence/>
        <attribute name="domainMultiFactorEnforcementLevel" type="RAX-AUTH:DomainMultiFactorEnforcementLevelEnum" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Whether or not multifactor authentication should be enforced on this domain
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <simpleType name="StringList">
        <list itemType="xsd:string"/>
    </simpleType>

    <xsd:simpleType name="PolicyAlgorithm">
        <xsd:annotation>
            <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                <p>
                    The list of possible policy algorithms.
                </p>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="if-true-allow"/>
            <xsd:enumeration value="if-false-deny"/>
        </xsd:restriction>
    </xsd:simpleType>

    <simpleType  name="Action">
        <restriction base="xsd:string">
            <enumeration value="GET"/>
            <enumeration value="POST"/>
            <enumeration value="PUT"/>
            <enumeration value="DELETE"/>
            <enumeration value="PATCH"/>
            <enumeration value="*" />
        </restriction>
    </simpleType>

    <simpleType  name="PolicyType">
        <restriction base="xsd:string">
            <enumeration value="json-policy-format"/>
            <enumeration value="standard-policy-format"/>
        </restriction>
    </simpleType>

    <simpleType name="FactorTypeEnum">
        <restriction base="xsd:string">
            <enumeration value="SMS"/>
            <enumeration value="OTP"/>
        </restriction>
    </simpleType>
    <simpleType name="AssignmentTypeEnum">
        <restriction base="xsd:string">
            <enumeration value="DOMAIN"/>
            <enumeration value="TENANT"/>
            <enumeration value="RCN"/>
        </restriction>
    </simpleType>

    <simpleType name="SourceTypeEnum">
        <restriction base="xsd:string">
            <enumeration value="DA"/>
            <enumeration value="USER"/>
            <enumeration value="USERGROUP"/>
            <enumeration value="SYSTEM"/>
        </restriction>
    </simpleType>

    <simpleType name="PrincipalType">
        <restriction base="xsd:string">
            <enumeration value="USER_GROUP"/>
            <enumeration value="USER"/>
        </restriction>
    </simpleType>

    <simpleType name="DelegateType">
        <restriction base="xsd:string">
            <enumeration value="USER_GROUP"/>
            <enumeration value="USER"/>
        </restriction>
    </simpleType>

    <complexType name="BypassCodes">
        <attribute name="codes" type="RAX-AUTH:StringList" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A list of bypass codes for the user
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="validityDuration" type="xsd:duration" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        How long the the requested bypass codes are requested to be good for
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="numberOfCodes" type="xsd:integer" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The number of codes requested.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <simpleType name="UserMultiFactorEnforcementLevelEnum">
        <restriction base="xsd:string">
            <enumeration value="DEFAULT"/>
            <enumeration value="REQUIRED"/>
            <enumeration value="OPTIONAL"/>
        </restriction>
    </simpleType>

    <simpleType name="DomainMultiFactorEnforcementLevelEnum">
        <restriction base="xsd:string">
            <enumeration value="REQUIRED"/>
            <enumeration value="OPTIONAL"/>
        </restriction>
    </simpleType>

    <simpleType name="TokenFormatEnum">
        <restriction base="xsd:string">
            <enumeration value="DEFAULT"/>
            <enumeration value="UUID"/>
            <enumeration value="AE"/>
        </restriction>
    </simpleType>

    <element name="metadata" type="RAX-AUTH:KeyMetadata" />

    <simpleType name="KeyVersionStatusEnum">
        <restriction base="xsd:string">
            <enumeration value="PRIMARY"/>
            <enumeration value="ACTIVE"/>
            <enumeration value="INACTIVE"/>
        </restriction>
    </simpleType>

    <simpleType name="IdentityProviderFederationTypeEnum">
        <restriction base="xsd:string">
            <enumeration value="RACKER"/>
            <enumeration value="DOMAIN"/>
            <enumeration value="BROKER"/>
        </restriction>
    </simpleType>

    <simpleType name="EndpointTemplateAssignmentTypeEnum">
        <restriction base="xsd:string">
            <enumeration value="MOSSO">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value for assigning endpoint templates to MOSSO type services (ex. compute).
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
            <enumeration value="NAST">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value for assigning endpoint templates to NAST type services (ex. object-store).
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
            <enumeration value="MANUAL">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value for manually assigning endpoint templates.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <simpleType name="RoleAssignmentEnum">
        <restriction base="xsd:string">
            <enumeration value="GLOBAL">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value specifies roles should be assigned globally.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
            <enumeration value="TENANT">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value specifies roles should be assigned to tenants.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
            <enumeration value="BOTH">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value specifies roles can be assigned assigned to both.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <simpleType name="RoleTypeEnum">
        <restriction base="xsd:string">
            <enumeration value="STANDARD">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value for role type when role does not have a current setting for type.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
            <enumeration value="RCN">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value is used to specify an RCN role.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
            <enumeration value="PROPAGATE">
                <annotation>
                    <xsd:documentation
                            xml:lang="EN"
                            xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            The value is used to specify a PROPAGATE role.
                        </p>
                    </xsd:documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>

    <complexType name="KeyMetadata">
        <sequence>
            <element name="key" type="RAX-AUTH:KeyVersion" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
        <attribute name="created" type="xsd:dateTime" use="optional" />
        <attribute name="retrieved" type="xsd:dateTime" use="required" />
        <attribute name="size" type="xsd:int" use="required" />
    </complexType>

    <complexType name="KeyVersion">
        <attribute name="created" type="xsd:dateTime" use="optional" />
        <attribute name="version" type="xsd:int" use="required" />
        <attribute name="status" type="RAX-AUTH:KeyVersionStatusEnum" use="required" />
    </complexType>

    <element name="federatedUsersDeletionRequest" type="RAX-AUTH:FederatedUsersDeletionRequest" />

    <complexType name="FederatedUsersDeletionRequest">
        <attribute name="max" type="xsd:int" use="optional"/>
        <attribute name="delay" type="xsd:int" use="optional"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <element name="federatedUsersDeletionResponse" type="RAX-AUTH:FederatedUsersDeletionResponse" />

    <complexType name="FederatedUsersDeletionResponse">
        <attribute name="id" type="xsd:int" use="required"/>
        <attribute name="error" type="RAX-AUTH:StringList" use="optional" />
        <attribute name="deleted" type="xsd:int" use="required"/>
        <attribute name="errors" type="xsd:int" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <element name="tokenRevocationRecordDeletionRequest" type="RAX-AUTH:TokenRevocationRecordDeletionRequest" />

    <complexType name="TokenRevocationRecordDeletionRequest">
        <attribute name="limit" type="xsd:int" use="optional"/>
        <attribute name="delay" type="xsd:int" use="optional"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <element name="tokenRevocationRecordDeletionResponse" type="RAX-AUTH:TokenRevocationRecordDeletionResponse" />

    <complexType name="TokenRevocationRecordDeletionResponse">
        <attribute name="id" type="xsd:string" use="required"/>
        <attribute name="deleted" type="xsd:int" use="required"/>
        <attribute name="errors" type="xsd:int" use="required"/>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="OTPDevice">
        <complexContent>
            <extension base="RAX-AUTH:MultiFactorDevice">
                <attribute name="verified" type="xsd:boolean">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                Whether the device has been verified for the associated user.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
                <attribute name="name" type="xsd:string" use="optional">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                Name for the OTP device.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
                <attribute name="keyUri" type="xsd:anyURI" use="optional">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                Key URI for the OTP device (compatible with Google Authenticator KeyUriFormat
                                - https://code.google.com/p/google-authenticator/wiki/KeyUriFormat).
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
                <attribute name="qrcode" type="xsd:anyURI" use="optional">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                QR Code for key URI for the OTP device.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="OTPDevices">
        <sequence>
            <element ref="RAX-AUTH:otpDevice" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="MultiFactorDevices">
        <sequence>
            <element ref="RAX-AUTH:mobilePhones" minOccurs="0" maxOccurs="1"/>
            <element ref="RAX-AUTH:otpDevices" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="ApprovedDomainIds">
        <sequence>
            <element name="approvedDomainId" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="EmailDomains">
        <sequence>
            <element name="emailDomain" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="IdentityProvider">
        <sequence>
            <element ref="RAX-AUTH:publicCertificates" minOccurs="0" maxOccurs="1"/>
            <element ref="RAX-AUTH:approvedDomainIds" minOccurs="0" maxOccurs="1" />
            <element ref="RAX-AUTH:emailDomains" minOccurs="0" maxOccurs="1" />
        </sequence>
        <attribute name="id" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The id of the provider. This is generated by identity.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the provider. Must consist of only alphanumeric, '-', '.', and be less than 255
                        characters.
                    </p>
                </xsd:documentation>
            </annotation>
            <simpleType>
                <restriction base="xsd:string">
                    <maxLength value="255"/>
                    <pattern value="(\p{L}|\p{Nd}|-|\.)+"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="description" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A description of the provider. Must be less than 255 characters.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="issuer" type="xsd:anyURI" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A unique value the identity provider will use to identify itself within SAML. This value is
                        what will be included as the "issuer". Must be less than 255 characters.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="authenticationUrl" type="xsd:anyURI" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The URL at which users will authenticate with the identity provider. For example, this is to where
                        service providers should redirect to login.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="federationType" type="RAX-AUTH:IdentityProviderFederationTypeEnum" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The federation type of identity provider. External Federated providers will always DOMAIN.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="approvedDomainGroup" type="xsd:string" use="optional" >
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An approved group of domains for which the identity provider is authorized to authenticate against.
                        The determination of what domains are included in a given group is left for the implementation,
                        as well as what "groups" are available. This attribute is only applicable when federationType
                        is DOMAIN. If this attribute is provided and contains a value, the approvedDomains attribute is ignored.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="metadata" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The metadata of the provider.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="enabled" type="xsd:boolean" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Whether the Identity Provider is enabled or disabled.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="IdentityProviders">
        <sequence>
            <element ref="RAX-AUTH:identityProvider" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="PublicCertificate">
        <attribute name="id" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the certificate
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="pemEncoded" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The PEM encoded format of the certificate
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="PublicCertificates">
        <sequence>
            <element name="publicCertificate" type="RAX-AUTH:PublicCertificate" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="PasswordReset">
        <attribute name="password" type="xsd:string" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The password to reset the user password to.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="EndpointAssignmentRule" abstract="true">
        <attribute name="id" type="xsd:string">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the rule.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="description" type="xsd:string">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A description of the rule.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="TenantTypeEndpointRule">
        <complexContent>
            <extension base="RAX-AUTH:EndpointAssignmentRule">
                <sequence>
                    <element ref="OS-KSCATALOG:endpointTemplates" minOccurs="0" maxOccurs="1"/>
                </sequence>
                <attribute name="tenantType" type="xsd:string">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                The tenant type to which the endpoint templates are assigned.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="EndpointAssignmentRules">
        <sequence>
            <element ref="RAX-AUTH:tenantTypeEndpointRules" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="TenantTypeEndpointRules">
        <sequence>
            <element ref="RAX-AUTH:tenantTypeEndpointRule"  minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="IdentityProperty">
        <attribute name="id" type="xsd:string" use="optional" />
        <attribute name="name" type="xsd:string" use="optional" />
        <attribute name="value" type="xsd:string" use="optional" />
        <attribute name="valueType" type="xsd:string" use="optional" />
        <attribute name="description" type="xsd:string" use="optional" />
        <attribute name="idmVersion" type="xsd:string" use="optional" />
        <attribute name="reloadable" type="xsd:boolean" use="optional" />
        <attribute name="searchable" type="xsd:boolean" use="optional" />
        <anyAttribute namespace="##other" processContents="lax" />
    </complexType>

    <complexType name="DomainAdministratorChange">
        <attribute name="promoteUserId" type="xsd:string" use="optional" />
        <attribute name="demoteUserId" type="xsd:string" use="optional" />
    </complexType>

    <complexType name="DelegateReference">
        <attribute name="delegateType" type="RAX-AUTH:DelegateType"/>
        <attribute name="delegateId" type="xsd:string">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The id of a delegate associated with this delegation agreement
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="DelegateReferences">
        <sequence>
            <element ref="RAX-AUTH:delegateReference" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="DelegationAgreement">
        <attribute name="id" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the agreement.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the agreement.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="description" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A description of the agreement. Must be less than 255 characters.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="allowSubAgreements" type="xsd:boolean" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Deprecated. Use subagreementnestlevel instead. Whether this DA can be used by the delegates as
                        the basis for creating another DA
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="subAgreementNestLevel" type="xsd:nonNegativeInteger" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        How many levels of nested subagreements can be created underneath this one. A value of 0
                        disallows any subagreements. The maximum value is application, and environment,
                        specific.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="parentDelegationAgreementId" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        If this DA is a nested DA, the parent of this DA.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="principalType" type="RAX-AUTH:PrincipalType" use="optional"/>
        <attribute name="principalId" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Id of the principal
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="domainId" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The domain against which the delegation agreement grants access.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="DelegationAgreements">
        <sequence>
            <element name="delegationAgreement" type="RAX-AUTH:DelegationAgreement" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="UserGroup">
        <attribute name="id" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        An ID uniquely identifying the user group.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="domainId" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The id of the domain to which the user group belongs.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="name" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The name of the user group.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="description" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A description of the group. Must be less than 255 characters.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="UserGroups">
        <sequence>
            <element ref="RAX-AUTH:userGroup" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="RoleAssignment" abstract="true">
        <attribute name="onRole" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Id of the role to assign.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="onRoleName" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Name of the role. Ignored on assignment. Returned in response to provide additional information
                        on the assigned role.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="TenantAssignment">
        <complexContent>
            <extension base="RAX-AUTH:RoleAssignment">
                <sequence>
                    <element name="sources" type="RAX-AUTH:AssignmentSources" minOccurs="0" maxOccurs="1"/>
                </sequence>
                <attribute name="forTenants" type="RAX-AUTH:StringList" use="optional">
                    <annotation>
                        <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                            <p>
                                A delimited list of tenant Ids on which the role is assigned. A '*' represents
                                all tenants within the domain. If '*' is one item in a list of tenants, * is simply used.
                            </p>
                        </xsd:documentation>
                    </annotation>
                </attribute>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="AssignmentSources">
        <sequence>
            <element name="source" type="RAX-AUTH:AssignmentSource" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="AssignmentSource">
        <attribute name="sourceType" type="RAX-AUTH:SourceTypeEnum" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A classification of how the user received the role.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="sourceId" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Identifies the specific source of the assignment within the sourceType.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="assignmentType" type="RAX-AUTH:AssignmentTypeEnum" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        Specifies how the role was assigned to the source
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="forTenants" type="RAX-AUTH:StringList" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A list of tenant Ids on which the role is assigned due to the
                        assignment represented by this source.
                    </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>

    <complexType name="TenantAssignments">
        <sequence>
            <element ref="RAX-AUTH:tenantAssignment" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>

    <complexType name="RoleAssignments">
        <sequence>
            <element ref="RAX-AUTH:tenantAssignments" minOccurs="0" maxOccurs="1"/>
        </sequence>
        <anyAttribute namespace="##other" processContents="lax"/>
    </complexType>
</schema>
