Source/springidm/src/main/resources/xsd/endpoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

<!-- (C) 2010 Rackspace Hosting, All Rights Reserved -->

<schema elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:idm="http://docs.rackspacecloud.com/idm/api/v1.0" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	jaxb:extensionBindingPrefixes="xjc"
	targetNamespace="http://docs.rackspacecloud.com/idm/api/v1.0">

	<annotation>
		<xsd:appinfo xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
			<xsdxt:title>BaseUrls and Endpoints</xsdxt:title>
			<xsdxt:link rel="index" href="idmapi.xsd" />
		</xsd:appinfo>
	</annotation>

	<element name="serviceCatalog" type="idm:ServiceCatalog">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					The service catalog contains a list of all regional and
					global endpoints available to a user. The endpoints are
					sorted by service type.
                     </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/serviceCatalog.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/serviceCatalog.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>
	
	<element name="baseURLs" type="idm:BaseURLList">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					A list of base URLs.
                     </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/baseURLs.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/baseURLs.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>
	
	<element name="baseURL" type="idm:BaseURL">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					A base URLs.
                     </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/baseURL.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/baseURL.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>
	
	<element name="baseURLRef" type="idm:BaseURLRef">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					A refrence to a base URL.
                     </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/baseURLRequest.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/baseURLRequest.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>
	
	<element name="baseURLRefs" type="idm:BaseURLRefList">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					A list of base URL refrences.
                     </p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/baseURLRefs.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/baseURLRefs.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<!-- Complex Types -->
	<complexType name="BaseURL">
		<attribute name="id" type="xsd:int" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						An ID uniquely identifying the base URL.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="userType" type="idm:UserType" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						What type of user information should be appended to this
						baseURL to form a complete endpoint.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="serviceName" type="xsd:string" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						The base URL's service name.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="region" type="xsd:string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						The URL's region.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="publicURL" type="xsd:anyURI" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						The public base URL.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="internalURL" type="xsd:anyURI" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						The internal version of the public base URL.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="adminURL" type="xsd:anyURI" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						The admin base URL.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="default" type="xsd:boolean" default="false"
			use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						If true the baseURL is automatically added to
						new accounts.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="BaseURLRef">
		<attribute name="id" type="xsd:int" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						An ID uniquely identifying the base URL.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="href" type="xsd:anyURI" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						A hyperlink refrence to the base URL.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="v1Default" type="xsd:boolean" use="optional"
			default="false">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						If true, then the refred to base URL is used in version
						1.0 of the Auth service.
                         </p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="BaseURLList">
		<sequence>
			<element name="baseURL" type="idm:BaseURL" minOccurs="0"
				maxOccurs="1000" />
		</sequence>
	</complexType>

	<complexType name="BaseURLRefList">
		<sequence>
			<element name="baseURLRef" type="idm:BaseURLRef" minOccurs="0"
				maxOccurs="1000" />
		</sequence>
	</complexType>
	
	   <complexType name="ServiceCatalog">
        <sequence>
            <element name="service" type="idm:Service" minOccurs="1"
                maxOccurs="1000">
                <annotation>
                    <xsd:documentation xml:lang="EN"
                        xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            A list of services.
                             </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="Service">
        <sequence>
            <element name="endpoint" type="idm:Endpoint" minOccurs="1"
                maxOccurs="1000">
                <annotation>
                    <xsd:documentation xml:lang="EN"
                        xmlns="http://www.w3.org/1999/xhtml">
                        <p>
                            A list of endpoints.
                             </p>
                    </xsd:documentation>
                </annotation>
            </element>
        </sequence>
        <attribute name="name" type="xsd:ID" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The service name.
                         </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
    
    <complexType name="Endpoint">
        <attribute name="region" type="xsd:string" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The airport code of the region where the endpoint
                        lives.
                         </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute default="false" name="v1Default" type="xsd:boolean"
            use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        If true, then the endpoint will be selected
                        automatically in V1.0 of the Auth API.
                         </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="publicURL" type="xsd:anyURI" use="required">
            <annotation>
                <xsd:documentation xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        The publically accessible service URL.
                         </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="internalURL" type="xsd:anyURI" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A service URL, accessible only within the
                        Rackspace Cloud.
                         </p>
                </xsd:documentation>
            </annotation>
        </attribute>
        <attribute name="adminURL" type="xsd:anyURI" use="optional">
            <annotation>
                <xsd:documentation xml:lang="EN"
                    xmlns="http://www.w3.org/1999/xhtml">
                    <p>
                        A service URL used for administration. This may expose
                        additional functionality not found in the public and
                        internal URL.
                         </p>
                </xsd:documentation>
            </annotation>
        </attribute>
    </complexType>
	
	<!-- Simple Types -->
	<simpleType name="UserType">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					An authRequest can be made with various user/account
					names. The UserType signifies what kind of account is
					being used to log in.
                     </p>
			</xsd:documentation>
		</annotation>
		<restriction base="xsd:string">
			<enumeration value="CLOUD">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>
							Cloud username. This is the same as the unique user id
							in the UserType.
                             </p>
					</xsd:documentation>
				</annotation>
			</enumeration>
			<enumeration value="NAST">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>
							Nast account number. This is the same as a nastId in
							the UserType.
                             </p>
					</xsd:documentation>
				</annotation>
			</enumeration>
			<enumeration value="MOSSO">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>
							Mosso account number. This is the same as mossoId in
							the UserType.
                             </p>
					</xsd:documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>

</schema>