Source/springidm/src/main/resources/xsd/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="../xslt/schema.xslt"?>

	<!-- (C) 2010 Rackspace Hosting, All Rights Reserved -->

<schema elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:idm="http://docs.rackspacecloud.com/idm/api/v1.0" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	targetNamespace="http://docs.rackspacecloud.com/idm/api/v1.0">

	<include schemaLocation="role.xsd"></include>
	<include schemaLocation="link.xsd"></include>
	<annotation>
		<xsd:appinfo xml:lang="EN" xmlns="http://www.w3.org/1999/xhtml">
			<xsdxt:title>Users</xsdxt:title>
			<xsdxt:link rel="index" href="idmapi.xsd" />
		</xsd:appinfo>
		<xsd:documentation xml:lang="EN"
			xmlns="http://www.w3.org/1999/xhtml">
			<p>This schema file defines entities related to a user.</p>
		</xsd:documentation>
	</annotation>

	<!-- Elements --> 
	<element name="userCredentials" type="idm:UserCredentials">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A rackspace user's credentials.</p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/user_credentials.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/user_credentials.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="userApiKey" type="idm:UserApiKey">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A rackspace user's api key.</p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/user_api_key.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/user_api_key.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="userPassword" type="idm:UserPassword">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A rackspace user's password.</p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/user_api_key.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/user_api_key.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="user" type="idm:User">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A rackspace user.</p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/user.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/user.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="users" type="idm:UserList">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A list of rackspace users.</p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/users.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/users.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<element name="userSecret" type="idm:UserSecret">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>A rackspace user's secret question and answer.</p>
			</xsd:documentation>
			<xsd:appinfo>
				<xsdxt:samples>
					<xsdxt:sample>
						<xsdxt:code type="application/xml" href="../samples/user_secret.xml" />
					</xsdxt:sample>
					<xsdxt:sample>
						<xsdxt:code type="application/json" href="../samples/user_secret.json" />
					</xsdxt:sample>
				</xsdxt:samples>
			</xsd:appinfo>
		</annotation>
	</element>

	<!-- Complex Types -->
	<complexType name="UserCredentials">
		<sequence>
			<element name="newPassword" type="idm:UserPassword"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>The user's new password.</p>
					</xsd:documentation>
				</annotation>
			</element>
			<element name="currentPassword" type="idm:UserPassword"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>The user's current password.</p>
					</xsd:documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="UserSecret">
		<attribute name="secretQuestion" type="string" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>A user's secret question.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="secretAnswer" type="string" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The answer to the user's secret question.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="User">
		<sequence>
			<element name="secret" type="idm:UserSecret" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>
							The user's secret contains a question and
							answer that can be used to confirm the
							user's identity.
						</p>
					</xsd:documentation>
				</annotation>
			</element>
			<element name="password" type="idm:UserPassword"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>A user's password.</p>
					</xsd:documentation>
				</annotation>
			</element>
			<element name="apiKey" type="idm:UserApiKey" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>A user's api key.</p>
					</xsd:documentation>
				</annotation>
			</element>
			<element name="roles" type="idm:RoleList" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>A list of roles the user belongs to.</p>
					</xsd:documentation>
				</annotation>
			</element>
		</sequence>
		<attribute name="username" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The unique username of the user.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="customerId" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						The customerId of the customer that the user is
						associated with.
					</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="customerInum" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						The customer inum of the customer that the user
						is associated with.
					</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="email" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's email address.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="personId" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>A unique rackspace personId for the user.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="firstName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's first name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="middleName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's middle name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="lastName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's last name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="displayName" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's display name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="prefLanguage" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's preferred language.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="inum" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's unique i-number.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="iname" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's unique i-name.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="region" type="string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The airport code of the user's region.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="status" type="idm:UserStatus" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's status.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="locked" type="boolean" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						A boolean which indicates if the user is locked.
					</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="softDeleted" type="boolean" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>
						A boolean which indicates if the user has been
						soft deleted.
					</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="country" type="xsd:string" use="optional">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's country.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="timeZone" type="xsd:string" use="optional"
			default="America/Chicago">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>The user's time zone.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
		<attribute name="mossoId" type="xsd:int"></attribute>
		<attribute name="nastId" type="xsd:string"></attribute>
	</complexType>

	<complexType name="UserList">
		<sequence>
			<element name="user" type="idm:User" minOccurs="0" maxOccurs="unbounded">
			</element>
			<element name="link" type="idm:Link" minOccurs="0" maxOccurs="3"></element>
		</sequence>
		<attribute name="totalRecords" type="xsd:int" use="optional"></attribute>
		<attribute name="offset" type="xsd:int" use="optional"></attribute>
		<attribute name="limit" type="xsd:int" use="optional"></attribute>
	</complexType>

	<complexType name="UserApiKey">
		<attribute name="apiKey" type="string" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>A user's api key.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="UserPassword">
		<attribute name="password" type="string" use="required">
			<annotation>
				<xsd:documentation xml:lang="EN"
					xmlns="http://www.w3.org/1999/xhtml">
					<p>A user's password.</p>
				</xsd:documentation>
			</annotation>
		</attribute>
	</complexType>

	<!-- Simple Types -->
	<simpleType name="UserStatus">
		<annotation>
			<xsd:documentation xml:lang="EN"
				xmlns="http://www.w3.org/1999/xhtml">
				<p>
					The UserStatus indicates whether the user is active
					or inactive
				</p>
			</xsd:documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="ACTIVE">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>
							The user is Active and can authenticate with
							the Idm API.
						</p>
					</xsd:documentation>
				</annotation>
			</enumeration>
			<enumeration value="INACTIVE">
				<annotation>
					<xsd:documentation xml:lang="EN"
						xmlns="http://www.w3.org/1999/xhtml">
						<p>
							The user is Inactive and cannot authenticate
							with the Idm API.
						</p>
					</xsd:documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
</schema>